:host {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-width: 70vw;
  padding: 1.1rem 2rem;
  gap: 20px;
}

.close-small-sizes {
  position: absolute;
  top: -5px;
  right: -20px;
}

.status-box {
  color: white;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  width: 100%;
  margin: 0 15px;
  line-height: 25px;
}

.progress {
  height: 10px;
  width: 140px;
  border-radius: 10px;
}
