<div class="items-center relative justify-center sm:justify-between flex flex-col sm:flex-row" mat-dialog-title>
  <div class="w-full sm:w-4/5 flex flex-col sm:flex-row justify-center sm:justify-start items-center flex-wrap">
    @if (!trackingTitle) {
      <div class="w-full items-center">
        {{ enrollment.user.name }}
      </div>
      <div class="flex justify-end items-center">
        <mat-icon class="s-4 mr-4">mail</mat-icon>
        <div class="text-xs">{{ enrollment.user.email || '-' }}</div>
      </div>
    } @else {
      <div class="w-full text-2xl">
        {{ trackingTitle }}
      </div>
    }
  </div>
  <button class="ml-12" mat-icon-button mat-dialog-close [attr.aria-label]="'GENERAL.CLOSE' | transloco">
    <mat-icon class="s-4">close</mat-icon>
  </button>
</div>
<div mat-dialog-content>
  <div class="flex justify-center sm:justify-around items-center sm:items-start flex-wrap">
    <div class="flex flex-col w-2/4 sm:w-auto justify-center items-center mb-10 sm:mb-auto">
      <span class="mb-4 font-bold">{{ 'ENROLLMENT.TRACKING.POINTS' | transloco }}</span>
      <span data-test="points">{{ (points | number: '1.0-0') || '-' }}</span>
    </div>
    <div class="flex flex-col w-2/4 sm:w-auto justify-center items-center mb-10 sm:mb-auto">
      <span class="mb-4 font-bold">{{ 'ENROLLMENT.TRACKING.PROGRESS' | transloco }}</span>
      <div class="flex justify-center items-center">
        {{ (enrollment.progress | kpPerformance: '%') || '-' }}
      </div>
    </div>
    <div class="flex flex-col w-2/4 sm:w-auto justify-center items-center mb-10 sm:mb-auto">
      <span class="mb-4 font-bold">{{ 'ENROLLMENT.TRACKING.PERFORMANCE' | transloco }}</span>
      <div class="flex justify-center items-center">
        {{ (enrollment.performance | kpPerformance: '%') || '-' }}
      </div>
    </div>
    @if (!enrollment.actual_stage) {
      <div class="w-2/4 sm:w-auto flex flex-col justify-center items-center">
        <span class="mb-2.5 font-bold">{{ 'ENROLLMENT.TRACKING.STATUS' | transloco }}</span>
        <kp-status-chip
          class="cursor-default"
          [matTooltip]="'ENROLLMENT.TOOLTIP.' + enrollment.status | transloco"
          [color]="enrollment.status | kpEnrollmentStatusColor"
        >
          {{ 'ENROLLMENT.TABLE.' + enrollment.status | transloco }}
        </kp-status-chip>
      </div>
    } @else {
      <div class="w-2/4 sm:w-auto flex flex-col justify-center items-center">
        <span class="mb-4 font-bold">{{ 'ENROLLMENT.TRACKING.CURRENT_STAGE' | transloco }}</span>
        <span>{{ enrollment.actual_stage }}</span>
      </div>
    }
    <div class="w-2/4 sm:w-auto flex flex-col justify-center items-center">
      <span class="mb-4 font-bold">{{ 'ENROLLMENT.TRACKING.LAST_ACCESS' | transloco }}</span>
      <span>{{ (enrollment.updated_date | date: 'shortDate') || '-' }}</span>
    </div>
  </div>

  <mat-divider class="my-4"></mat-divider>

  <app-enrollment-tracking-collection [trackingList]="tracking"></app-enrollment-tracking-collection>
</div>
<div mat-dialog-actions class="flex justify-end">
  @if (enrollment.status === 'REQUEST_EXTENSION') {
    <span class="text-sm">{{ 'ENROLLMENT.TRACKING.WAITING_REQUEST_EXTENSION' | transloco }}</span>
    <button mat-flat-button color="primary" disabled>
      {{ viewText | transloco }}
    </button>
  } @else {
    <button mat-flat-button color="primary" (click)="dialogRef.close(enrollment)">
      {{ viewText | transloco }}
    </button>
  }
</div>
