<form [formGroup]="newInstructorForm" (ngSubmit)="addInstructor()">
  <div mat-dialog-title class="flex items-center">
    <span class="font-bold flex-1 text-lg">{{ 'MISSION.NEW_INSTRUCTOR_DIALOG.TITLE' | transloco }}</span>
    <button mat-icon-button (click)="dialogRef.close()" [attr.aria-label]="'GENERAL.CLOSE' | transloco">
      <mat-icon class="secondary-text">close</mat-icon>
    </button>
  </div>

  <div mat-dialog-content class="flex flex-row gap-x-6">
    <div
      matRipple
      class="w-[100px] h-[100px] shrink-0 border-default rounded-lg grid cursor-pointer relative group/avatar"
      (click)="uploadAvatarInput.click()"
      [class.border]="!previewSrc"
    >
      @if (previewSrc) {
        <img [src]="previewSrc" alt="" class="object-cover absolute inset-0 w-full h-full" />
      }

      @if (previewSrc) {
        <div class="rounded-full absolute inset-0 z-10 outline outline-[2rem] outline-black/[.45]"></div>
      }

      <mat-icon
        svgIcon="file_upload"
        [class.invisible]="previewSrc"
        class="secondary-text z-20 place-self-center group-hover/avatar:visible"
        color="primary"
      ></mat-icon>
    </div>

    <div class="flex flex-col gap-4 w-full">
      <mat-form-field subscriptSizing="dynamic" class="w-full fuse-mat-dense">
        <input
          matInput
          formControlName="name"
          autocomplete="off"
          placeholder="{{ 'MISSION.NEW_INSTRUCTOR_DIALOG.INSTRUCTOR_NAME' | transloco }}"
        />
        <mat-icon matPrefix class="secondary-text mr-2"> person </mat-icon>
      </mat-form-field>

      <mat-form-field subscriptSizing="dynamic" class="w-full fuse-mat-dense">
        <input
          matInput
          formControlName="email"
          autocomplete="off"
          placeholder="{{ 'MISSION.NEW_INSTRUCTOR_DIALOG.INSTRUCTOR_EMAIL' | transloco }}"
        />
        <mat-icon matPrefix class="secondary-text mr-2"> mail </mat-icon>
      </mat-form-field>
    </div>

    <input #uploadAvatarInput accept=".jpg, .png" hidden="true" type="file" (change)="onSelectAvatarImage($event)" />
  </div>

  <div matDialogActions class="flex justify-end">
    <button mat-button>{{ 'GENERAL.ADD' | transloco }}</button>
  </div>
</form>
