<div
  [matTooltip]="'USERS.IMPORT.BUTTON-SELECT-FILE' | transloco"
  class="flex justify-between items-center px-6 py-7 border-1 border-default h-12 w-full rounded-md text-secondary cursor-pointer hover:border-primary dark:hover:border-white hover:text-primary dark:hover:text-white transition-all duration-200"
  (click)="fileInput.click()"
>
  <p class="text-base">{{ currentFileName || ('USERS.IMPORT.BUTTON-SELECT-FILE' | transloco) }}</p>
  <span class="material-symbols-outlined"> attach_file </span>
</div>
<input
  data-test="bath-users-input"
  #fileInput
  class="hidden"
  type="file"
  accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
  (change)="fileInputChange()"
/>
