<section class="mx-auto max-w-[1328px] px-8 sm:px-12">
  <kp-dashboard-header [label]="sectionTitle" [actionButtonLink]="actionButtonLink"></kp-dashboard-header>

  <div class="cards-container">
    @for (channel of cardsData; track channel.id) {
      <kp-channel-card [channel]="channel" (clickEvent)="onCardClick($event)" (subscribeEvent)="onSubscribe(channel)">
      </kp-channel-card>
    }

    @if (loading) {
      <ngx-skeleton-loader [theme]="loaderTheme" animation="pulse"></ngx-skeleton-loader>
      <ngx-skeleton-loader [theme]="loaderTheme" animation="pulse"></ngx-skeleton-loader>
      <ngx-skeleton-loader [theme]="loaderTheme" animation="pulse"></ngx-skeleton-loader>
    }
  </div>
</section>
