@let vm = vm$ | async;

<span mat-dialog-title class="text-2xl"> {{ 'HOME.BANNER.SETTINGS.TITLE' | transloco }} </span>
<div class="p-6 pt-2">
  @if (vm.initialLoading) {
    <ng-container *ngTemplateOutlet="loader"></ng-container>
  } @else {
    <div class="border border-default rounded-lg p-4 flex items-center">
      @if (vm.mode === 'RECOMMENDATION') {
        <mat-icon class="text-primary s-9">auto_awesome</mat-icon>
      } @else {
        <mat-icon class="text-primary s-9">handyman</mat-icon>
      }

      <div class="flex flex-col ml-3">
        <div class="font-bold leading-none">
          {{
            (vm.mode === 'RECOMMENDATION'
              ? 'HOME.BANNER.SETTINGS.DEFAULT_MODE_TITLE'
              : 'HOME.BANNER.SETTINGS.CUSTOM_MODE_TITLE'
            ) | transloco
          }}
        </div>
        <div class="text-sm">
          {{
            (vm.mode === 'RECOMMENDATION'
              ? 'HOME.BANNER.SETTINGS.DEFAULT_MODE_SUBTITLE'
              : 'HOME.BANNER.SETTINGS.CUSTOM_MODE_SUBTITLE'
            ) | transloco
          }}
        </div>
      </div>

      <mat-slide-toggle
        class="ml-auto"
        [checked]="vm.mode === 'MANUAL'"
        (change)="onSetMode($event)"
      ></mat-slide-toggle>
    </div>

    @if (vm.mode === 'MANUAL') {
      <app-banner-settings-form
        [form]="form"
        [customSettings]="vm.customSettings"
        [internalContents]="vm.internalContents"
        (filter)="onFilterInternalContents($event)"
      ></app-banner-settings-form>
    }
  }
</div>
<div mat-dialog-actions class="p-6 actions flex justify-end rounded-b-3xl">
  <button mat-button (click)="onClose()">
    {{ 'GENERAL.CLOSE' | transloco }}
  </button>

  @if (vm.mode === 'MANUAL') {
    <button mat-flat-button color="primary" [disabled]="isPublishButtonDisabled" (click)="onPublish()">
      {{ 'GENERAL.PUBLISH' | transloco }}
    </button>
  }
</div>

<ng-template #loader>
  <div class="border rounded-lg pl-2.5 pr-4 py-1.5 flex items-center">
    <ngx-skeleton-loader appearance="circle" [theme]="{ height: '34px', width: '34px', 'margin-top': '10px' }">
    </ngx-skeleton-loader>
    <div class="ml-2 flex flex-col">
      <ngx-skeleton-loader [theme]="{ height: '14px', width: '150px' }"></ngx-skeleton-loader>
      <ngx-skeleton-loader [theme]="{ height: '14px', width: '300px' }"></ngx-skeleton-loader>
    </div>
    <ngx-skeleton-loader
      class="ml-auto"
      [theme]="{ height: '20px', width: '40px', 'margin-top': '10px' }"
    ></ngx-skeleton-loader>
  </div>
</ng-template>
