@if (vm$ | async; as vm) {
  @if (vm.showMenu) {
    <button mat-icon-button [matMenuTriggerFor]="menu" [matTooltip]="'CREATE_BUTTON.CREATE' | transloco">
      <mat-icon>add</mat-icon>
    </button>
    <mat-menu #menu>
      @if (vm.canCreateTrails) {
        <a [routerLink]="['/learning-trails/create']" mat-menu-item data-test="new-learning-trail">
          <mat-icon svgIcon="learning-trail"></mat-icon>
          {{ 'CREATE_BUTTON.TRAIL' | transloco }}
        </a>
        <mat-divider class="last:hidden"></mat-divider>
      }
      @if (vm.canCreateMissions) {
        <a [routerLink]="['/missions/create/internal']" mat-menu-item data-test="new-internal-mission">
          <mat-icon>rocket_launch</mat-icon>
          {{ 'CREATE_BUTTON.INTERNAL_MISSION' | transloco }}
        </a>
        <a [routerLink]="['/missions/create/external_provider']" mat-menu-item data-test="new-external-mission">
          <mat-icon>rocket_launch</mat-icon>
          {{ 'CREATE_BUTTON.EXTERNAL_MISSION' | transloco }}
        </a>
        <button mat-menu-item (click)="createScormCourse()" data-test="new-scorm-mission">
          <mat-icon>rocket_launch</mat-icon>
          {{ 'CREATE_BUTTON.SCORM_MISSION' | transloco }}
        </button>
        <mat-divider class="last:hidden"></mat-divider>
      }
      @if (vm.canCreateEvents) {
        <a [routerLink]="['/events/create/live']" mat-menu-item data-test="new-live-event">
          <mat-icon>event</mat-icon>
          {{ 'CREATE_BUTTON.LIVE_EVENT' | transloco }}
        </a>
        <a [routerLink]="['/events/create/presential']" mat-menu-item data-test="new-presential-event">
          <mat-icon>event</mat-icon>
          {{ 'CREATE_BUTTON.PRESENTIAL_EVENT' | transloco }}
        </a>
        <mat-divider class="last:hidden"></mat-divider>
      }
      @if (vm.canCreatePulses) {
        <a [routerLink]="['/channels/new']" mat-menu-item data-test="new-channel">
          <mat-icon svgIcon="canal-pulse"></mat-icon>
          {{ 'CREATE_BUTTON.CHANNEL' | transloco }}
        </a>
        <mat-divider class="last:hidden"></mat-divider>
      }
      @if (vm.canCreateGroups) {
        <button mat-menu-item (click)="createGroup()" data-test="new-group">
          <mat-icon>person</mat-icon>
          {{ 'CREATE_BUTTON.GROUP' | transloco }}
        </button>
      }
    </mat-menu>
  }
}
