<div class="px-6 pt-6" *kpVar="response$ | async as response">
  <kp-course-details-charts
    [response]="response"
    [courseData]="courseData$ | async"
    [courseStats]="courseStats$ | async"
    [enrollmentDistribution]="enrollmentDistribution$ | async"
    [courseNps]="courseNps$ | async"
    [courseId]="courseId"
    [firstContentType]="firstContentType$ | async"
    [rankContentTypes]="rankContentTypes$ | async"
    [showRouteButtons]="true"
  ></kp-course-details-charts>
</div>

<h2 class="text-2xl font-semibold text-center sm:text-left mx-6 mb-4">
  {{ 'COURSE.DETAILS.DATATABLE.TITLE' | transloco }}
</h2>

<ng-container *kpVar="enrollmentList$ | async as list">
  <kp-table-layout
    [totalItems]="list?.response?.total || 0"
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    (pageChange)="onPaging($event)"
    (searchChange)="applyFilter($event)"
  >
    <div kpTableFilterAfter class="flex items-center gap-2">
      <mat-form-field appearance="outline" class="w-40" subscriptSizing="dynamic">
        <mat-label>{{ 'COURSE.DETAILS.DATATABLE.FILTER.INTERVAL' | transloco }}</mat-label>
        <mat-select [value]="listInterval" (selectionChange)="onDatatableIntervalFilter($event)">
          <mat-option value="">{{ 'GENERAL.TOTAL' | transloco }}</mat-option>
          <mat-option value="year">{{ 'GENERAL.CURRENT_YEAR' | transloco }}</mat-option>
          <mat-option value="month">{{ 'GENERAL.CURRENT_MONTH' | transloco }}</mat-option>
        </mat-select>
      </mat-form-field>

      <kp-export-menu (export)="onDatatableExport($event)"></kp-export-menu>

      <form [formGroup]="columnForm">
        <kp-table-columns>
          @for (column of columnDefinitions; track column) {
            <div class="flex items-center justify-between gap-2">
              <span>{{ column.label | transloco }}</span>
              <mat-slide-toggle color="accent" [formControlName]="column.def"></mat-slide-toggle>
            </div>
          }
        </kp-table-columns>
      </form>
    </div>

    <div kpTable class="table-container">
      @if (list?.isLoading) {
        <div class="grow">
          <ngx-skeleton-loader count="3" animation="pulse" [theme]="itemsLoaderTheme"></ngx-skeleton-loader>
        </div>
      }

      @if (!list?.isLoading && !list?.response?.total) {
        <div class="grow flex items-center justify-center text-sm">
          {{ 'GENERAL.EMPTY_LIST_MESSAGE' | transloco }}
        </div>
      }

      <table
        mat-table
        aria-label="Course Details Table"
        id="course-details-table"
        class="kp-card-table w-full"
        [hidden]="list?.isLoading || !list?.response?.total"
        [dataSource]="list?.response?.data"
        matSort
        matSortActive="end_date"
        matSortDirection="desc"
        (matSortChange)="onDatatableSortChanged()"
      >
        <!-- Column Name -->
        <ng-container matColumnDef="user_name.sortable">
          <th mat-header-cell *matHeaderCellDef mat-sort-header start="asc" class="pl-6">
            {{ 'COURSE.DETAILS.DATATABLE.COLUMN.NAME' | transloco }}
          </th>
          <td mat-cell *matCellDef="let row" class="pl-6">
            <div class="break-words line-clamp-3" [matTooltip]="row._source.user_name | titlecase">
              {{ row._source.user_name | titlecase }}
            </div>
          </td>
        </ng-container>

        <!-- Column Start Date -->
        <ng-container matColumnDef="start_date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="max-w-[110px] hidden md:flex justify-end">
            {{ 'COURSE.DETAILS.DATATABLE.COLUMN.START_DATE' | transloco }}
          </th>
          <td mat-cell *matCellDef="let row" class="max-w-[110px] hidden md:flex text-center pr-8">
            {{ (row._source.start_date | date: 'dd/MM/yyyy' : 'GMT') || '-' }}
          </td>
        </ng-container>

        <!-- Column End Date -->
        <ng-container matColumnDef="end_date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="max-w-[110px] hidden md:flex justify-end">
            {{ 'COURSE.DETAILS.DATATABLE.COLUMN.END_DATE' | transloco }}
          </th>
          <td mat-cell *matCellDef="let row" class="max-w-[110px] hidden md:flex pr-8">
            {{ (row._source.end_date | date: 'dd/MM/yyyy' : 'GMT') || '-' }}
          </td>
        </ng-container>

        <!-- Column Performance -->
        <ng-container matColumnDef="performance">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="max-w-[110px] hidden md:flex">
            {{ 'COURSE.DETAILS.DATATABLE.COLUMN.PERFORMANCE' | transloco }}
          </th>
          <td mat-cell *matCellDef="let row" class="max-w-[110px] hidden md:flex pr-8 text-left">
            {{ row._source.performance | kpPerformance: '%' }}
          </td>
        </ng-container>

        <!-- Column Progress -->
        <ng-container matColumnDef="progress">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="max-w-[110px] hidden md:flex">
            {{ 'COURSE.DETAILS.DATATABLE.COLUMN.PROGRESS' | transloco }}
          </th>
          <td mat-cell *matCellDef="let row" class="max-w-[110px] hidden md:flex pr-8 text-left">
            {{ row._source.progress | kpPerformance: '%' }}
          </td>
        </ng-container>

        <!-- Buttons -->
        <ng-container matColumnDef="buttons">
          <th mat-header-cell *matHeaderCellDef class="max-w-[70px] justify-center pr-6">
            {{ 'GENERAL.MENU' | transloco }}
          </th>
          <td mat-cell *matCellDef="let row" class="max-w-[70px] justify-center pr-6">
            <button mat-icon-button routerLink="/course/{{ courseId }}/enrollment/{{ row._id }}" disabled>
              <mat-icon class="s-6">open_in_new</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="listDisplayedColumns$ | async" class="font-bold"></tr>
        <tr mat-row *matRowDef="let row; columns: listDisplayedColumns$ | async"></tr>
      </table>
    </div>
  </kp-table-layout>
</ng-container>
