<app-mission-mission-form-header
  class="w-full mb-4"
  [title]="'MISSION.CREATE.NAVIGATION.TITLE.SETTINGS' | transloco"
  [label]="getHeaderSubTitle(tabGroup.selectedIndex, isEventMission$ | async) | transloco"
  (next)="next()"
  (previous)="previous()"
  [nextDisabled]="settingsForm.invalid"
></app-mission-mission-form-header>

<mat-tab-group #tabGroup>
  <mat-tab [label]="'MISSION.CREATE.SETTINGS.CONFIG' | transloco">
    <app-mission-settings-form
      #settingsForm
      [mission]="mission$ | async"
      [missionModel]="missionModel$ | async"
      [certificates]="certificates$ | async"
      [learnContentCertificate]="learnContentCertificate$ | async"
      [isContentCreator]="isContentCreator"
      (formChange)="formChange($event)"
      (previewCertificate)="previewCertificate($event)"
      (newCertificate)="createCertificate()"
      (certificateChange)="certificateChange($event)"
    ></app-mission-settings-form>
  </mat-tab>
  <mat-tab [label]="'MISSION.CREATE.SETTINGS.GROUPS' | transloco">
    <app-mission-autocomplete
      [currentItems]="missionGroups$ | async"
      [showAvatar]="false"
      [autocompleteLabel]="'MISSION.CREATE.SETTINGS.GROUPS_LABEL' | transloco"
      [filteredItems]="filteredGroups$ | async"
      (filterItems)="filterGroups($event)"
      (addItem)="addGroup($event)"
      (removeItem)="removeGroup($event)"
    ></app-mission-autocomplete>
  </mat-tab>

  @if ((isIntegrationMission$ | async) === false) {
    <mat-tab [label]="'MISSION.CREATE.SETTINGS.CONTRIBUTORS' | transloco">
      <app-mission-autocomplete
        [currentItems]="missionContributors$ | async"
        [autocompleteLabel]="'MISSION.CREATE.SETTINGS.CONTRIBUTORS_LABEL' | transloco"
        [filteredItems]="filteredUsers$ | async"
        (filterItems)="filterContributors($event)"
        (removeItem)="removeContributor($event)"
        (addItem)="addContributor($event)"
      ></app-mission-autocomplete>
    </mat-tab>
  }
</mat-tab-group>
