<div class="group-import-dialog p-5">
  <h1 class="text-left font-medium text-2xl mb-6">{{ title | transloco }}</h1>

  <h3 class="text-justify mb-5">
    {{ 'GROUPS.DIALOG_IMPORT.SUBTITLE' | transloco }}
  </h3>

  <div class="w-fit mx-auto">
    <app-enrollment-upload
      (upload)="onSelectFile($event)"
      [buttonTitle]="'GROUPS.DIALOG_IMPORT.IMPORT_FILE' | transloco"
    ></app-enrollment-upload>
  </div>

  @if (selectedFile) {
    <div class="text-center pt-8">
      {{ selectedFile }}
    </div>
  }

  <h3 class="text-left mt-5">
    {{ 'GROUPS.DIALOG_IMPORT.IMPORT_USERS' | transloco }}
  </h3>

  <div class="flex justify-center items-center">
    <mat-slide-toggle
      id="input-settings-groups-enroll"
      class="mr-6 mt-10 h-10"
      color="accent"
      [checked]="checked"
      (change)="toggleEnrollment()"
      labelPosition="before"
    >
      {{ 'GENERAL.ENROLL' | transloco }}:
    </mat-slide-toggle>

    <mat-form-field appearance="outline" class="mt-10">
      <mat-label floatLabel="always">{{ 'GENERAL.GOAL_DATE' | transloco }}</mat-label>
      <input
        id="input-settings-groups-goal-date"
        [min]="minDate"
        matInput
        [formControl]="goalDate"
        [matDatepicker]="datepicker"
      />
      <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
      <mat-datepicker #datepicker></mat-datepicker>
    </mat-form-field>
  </div>
</div>

<mat-dialog-actions class="pt-6" align="end">
  <button mat-stroked-button mat-dialog-close>
    {{ 'GENERAL.CANCEL' | transloco }}
  </button>

  @if (!checked) {
    <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="!uploadFormData">
      {{ 'GENERAL.IMPORT' | transloco }}
    </button>
  }
  @if (checked) {
    <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="goalDate.invalid || !uploadFormData">
      {{ 'GENERAL.IMPORT' | transloco }}
    </button>
  }
</mat-dialog-actions>
