<div mat-dialog-title class="flex text-xl justify-between items-center">
  <span>{{ 'PULSE.EDIT' | transloco }}</span>
  <button mat-icon-button id="button-pulse-edit-close" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div mat-dialog-content>
  <div class="mt-8">
    <kp-file-upload
      class="w-full pb-8"
      moduleName="pulse"
      [itemIcon]="pulse.pulse_type.name | KpContentIconName"
      [showImageHint]="true"
      [selectedFileName]="pulse.name"
      [coverImage]="coverImage"
      [form]="dialogForm"
      (coverImageChange)="coverImageChange($event)"
      (fileAsCoverChange)="coverImageChange($event ? contentUrl : '')"
    ></kp-file-upload>
  </div>
</div>

<div mat-dialog-actions class="flex justify-end">
  <button
    mat-flat-button
    color="accent"
    type="button"
    id="button-pulse-edit-ok"
    (click)="onSubmit()"
    [disabled]="dialogForm.invalid || dialogForm.pristine"
  >
    {{ 'GENERAL.SAVE' | transloco }}
  </button>
</div>
