@use 'sass:map';
@use '@angular/material' as mat;

/* HTML and Body default styles */
html,
body {
  color-scheme: light !important;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  width: 100%;
  min-height: 100%;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: var(--mat-sys-on-surface);
}

html {
  background: var(--mat-sys-surface);

  @include mat.theme(
    (
      color: mat.$blue-palette,
      typography: Open Sans,
      density: 0,
    )
  );

  .material-symbols-outlined {
    font-variation-settings:
      'FILL' var(--icon-fill, 0),
      'wght' 400,
      'GRAD' -25,
      'opsz' var(--optical-sizing, 24);
  }
}

.primary-text {
  color: var(--mat-sys-primary);
}

.secondary-text {
  color: color-mix(in srgb, var(--mat-sys-on-surface) 68%, transparent);
}
