@let isMobile = isMobile$ | async;
@let isAdmin = isAdmin$ | async;
@let hasMultipleBanners = (items()?.length ?? 0) > 1;

<div class="kp-banner rounded-lg overflow-hidden border border-solid border-default">
  <mat-carousel
    timings="250ms ease-in"
    [autoplay]="true"
    [interval]="5000"
    color="accent"
    maxWidth="auto"
    [isMobile]="isMobile"
    [slides]="3"
    [loop]="true"
    orientation="ltr"
    [hideArrows]="!hasMultipleBanners"
  >
    @for (slide of items(); track slide; let i = $index) {
      <mat-carousel-slide overlayColor="#000000AA" [image]="slide.holder_image">
        <div class="p-4 h-full flex flex-col" (click)="onOpenDetails(slide)">
          @if (isAdmin) {
            <button
              mat-icon-button
              class="hidden xxs:flex settings-button self-end"
              [matTooltip]="'HOME.BANNER.SETTINGS.MAIN_BUTTON_TOOLTIP' | transloco"
              matTooltipPosition="left"
              (click)="onOpenSettings($event)"
            >
              <mat-icon>settings</mat-icon>
            </button>
          }
          <div class="grow flex justify-between gap-1">
            <div class="mt-auto">
              @if (slide.enrollmentTag) {
                <div class="flex gap-1 items-center mb-3">
                  <kp-card-tag [type]="slide.enrollmentTag" [keepOpen]="true"></kp-card-tag>
                </div>
              }
              <p class="text-sm sm:text-2xl font-bold sm:font-normal line-clamp-2">{{ slide.title }}</p>
            </div>
            <div class="mt-auto">
              <button mat-flat-button color="primary" class="h-10" (click)="onAction(slide, $event)">
                <div class="flex gap-1 items-center">
                  <mat-icon class="s-5 filled">{{ actionMap[slide.action].icon }} </mat-icon>
                  {{ actionMap[slide.action].label | transloco }}
                </div>
              </button>
            </div>
          </div>
        </div>
      </mat-carousel-slide>
    }
  </mat-carousel>
</div>
