<form class="flex flex-col settings-container" [formGroup]="settingsForm">
  @if (!isLivePresentialMission) {
    <kp-setting-toggle
      data-test="checkbox-mission-inactive"
      [label]="'MISSION.CREATE.SETTINGS.ACTIVE' | transloco"
      toggleFormControlName="is_active"
    ></kp-setting-toggle>
    <kp-setting-toggle
      data-test="mission-satisfaction-survey-selector"
      [label]="'MISSION.CREATE.SETTINGS.SURVEY' | transloco"
      toggleFormControlName="required_evaluation"
    ></kp-setting-toggle>
    <div class="flex flex-col">
      <kp-setting-toggle
        #allowEnrollmentRenewal
        [label]="'MISSION.CREATE.SETTINGS.ALLOW_SELF_ENROLLMENT_RENEWAL' | transloco"
        [settingTooltip]="'MISSION.CREATE.SETTINGS.ALLOW_SELF_ENROLLMENT_RENEWAL_INFO' | transloco"
        toggleFormControlName="allow_self_enrollment_renewal"
        (toggleChange)="allowSelfEnrollmentRenewalToggleChange($event)"
      ></kp-setting-toggle>
      @if (allowEnrollmentRenewal.checked) {
        <div class="sub-setting">
          <kp-setting-toggle
            class="flex-1 font-bold"
            [label]="'MISSION.CREATE.SETTINGS.ALLOW_SELF_REPROVED_ENROLLMENT_RENEWAL' | transloco"
            toggleFormControlName="allow_self_reproved_enrollment_renewal"
          ></kp-setting-toggle>
        </div>
      }
    </div>
    <kp-setting-toggle
      data-test="selector-mission-minimal-performance"
      [label]="'MISSION.CREATE.SETTINGS.MISSION_MIN_PERFORMANCE' | transloco"
      [settingTooltip]="'MISSION.CREATE.SETTINGS.MISSION_MIN_PERFORMANCE_INFO' | transloco"
      [checked]="!!mission?.minimum_performance"
      [disableSimpleToggle]="isFormControlDisabled('minimum_performance')"
      (toggleChange)="minimumPerformanceToggleChange($event)"
    >
      <mat-form-field appearance="outline" class="w-40" subscriptSizing="dynamic">
        <mat-label>{{ 'MISSION.CREATE.SETTINGS.MIN_PERFORMANCE_LABEL' | transloco }}</mat-label>
        <input
          data-test="input-mission-minimal-performance"
          matInput
          mask="percent"
          suffix="%"
          formControlName="minimum_performance"
          placeholder="0%"
        />
      </mat-form-field>
    </kp-setting-toggle>
    <kp-setting-toggle
      [label]="'MISSION.CREATE.SETTINGS.CUSTOM_GOAL_DATE' | transloco"
      [settingTooltip]="'MISSION.CREATE.SETTINGS.CUSTOM_GOAL_DATE_INFO' | transloco"
      [checked]="!!mission?.enrollment_goal_duration_days"
      [disableSimpleToggle]="isFormControlDisabled('enrollment_goal_duration_days')"
      (toggleChange)="customGoalDateToggleChange($event)"
    >
      <mat-form-field appearance="outline" class="w-40" subscriptSizing="dynamic">
        <mat-label>{{ 'MISSION.CREATE.SETTINGS.CUSTOM_GOAL_DATE_LABEL' | transloco }}</mat-label>
        <input matInput mask="0*" formControlName="enrollment_goal_duration_days" />
      </mat-form-field>
    </kp-setting-toggle>
    <kp-setting-toggle
      data-test="selector-mission-settigs-temporary"
      [label]="'MISSION.CREATE.SETTINGS.TEMPORARY' | transloco"
      [checked]="!!mission?.expiration_date"
      [disableSimpleToggle]="isFormControlDisabled('expiration_date')"
      [settingTooltip]="'MISSION.CREATE.SETTINGS.TEMPORARY_INFO' | transloco"
      (toggleChange)="temporaryToggleChange($event)"
    >
      <div class="flex gap-2 items-center">
        @if (settingsForm.hasError('matDatepickerMin', 'expiration_date')) {
          <mat-icon color="warn" [matTooltip]="'MISSION.CREATE.SETTINGS.INVALID_EXPIRATION_DATE' | transloco">
            error
          </mat-icon>
        }
        <mat-form-field appearance="outline" class="w-40" subscriptSizing="dynamic">
          <mat-label>{{ 'GENERAL.DATE' | transloco }}</mat-label>
          <input
            data-test="input-mission-expiration-date"
            matInput
            [min]="today"
            formControlName="expiration_date"
            placeholder="00/00/0000"
            [matDatepicker]="picker"
          />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </kp-setting-toggle>
    @if (displayContentProgressRestriction) {
      <div class="min-h-20 flex justify-between items-center pr-4">
        <div class="flex gap-2 items-center">
          <p>{{ 'MISSION.CREATE.SETTINGS.CONTENT_PROGRESS_RESTRICTION' | transloco }}</p>
          <mat-icon
            class="s-4 filled"
            [matTooltip]="'MISSION.CREATE.SETTINGS.CONTENT_PROGRESS_RESTRICTION_INFO' | transloco"
            matTooltipPosition="right"
            >info
          </mat-icon>
        </div>
        <div class="flex items-center gap-3">
          <button
            mat-icon-button
            [matTooltip]="'MISSION.CREATE.SETTINGS.CONTENT_PROGRESS_RESTRICTION_RESET' | transloco"
            matTooltipPosition="left"
            (click)="resetDefaultProgressRestrictionForm()"
          >
            <mat-icon>restart_alt</mat-icon>
          </button>
          <mat-form-field appearance="outline" class="w-40" subscriptSizing="dynamic">
            <mat-label>{{ 'MISSION.CREATE.SETTINGS.CONTENT_PROGRESS_RESTRICTION_LABEL' | transloco }}</mat-label>
            <input matInput mask="percent" suffix="%" placeholder="0%" formControlName="min_time_in_content" />
          </mat-form-field>
        </div>
      </div>
    }
  } @else {
    <kp-setting-toggle
      [label]="'MISSION.CREATE.SETTINGS.NOTIFY_ENROLLED_USERS' | transloco"
      toggleFormControlName="notify_users_enrolled"
    ></kp-setting-toggle>

    @if (isLiveMission) {
      <kp-setting-toggle
        [label]="'MISSION.CREATE.SETTINGS.AUTO_ATTENDANCE' | transloco"
        [settingTooltip]="'MISSION.CREATE.SETTINGS.AUTO_ATTENDANCE_INFO' | transloco"
        toggleFormControlName="auto_attendance"
      ></kp-setting-toggle>
    }
  }

  @if (!isContentCreator && mission?.mission_model !== 'EXTERNAL_PROVIDER') {
    <kp-setting-toggle
      data-test="custom-certificate-toggle"
      [label]="'MISSION.CREATE.SETTINGS.CUSTOM_CERTIFICATE' | transloco"
      [checked]="!!learnContentCertificate"
      (toggleChange)="certificateToggleChange($event)"
    >
      <mat-form-field appearance="outline" class="w-60" subscriptSizing="dynamic">
        <mat-label class="cursor-pointer">{{ 'GENERAL.SELECT_CERTIFICATES' | transloco }}</mat-label>
        <mat-select
          [hideSingleSelectionIndicator]="true"
          [value]="learnContentCertificate"
          [compareWith]="certificatesCompareWithFn"
          (selectionChange)="onCertificateChange($event.value)"
        >
          <mat-select-trigger>{{ learnContentCertificate?.name }}</mat-select-trigger>
          @for (certificate of certificates; track certificate) {
            <mat-option [value]="certificate" class="pr-2">
              <div class="flex justify-between items-center">
                <span class="break-words line-clamp-2">{{ certificate.name }}</span>
                <button mat-icon-button (click)="onPreviewCertificate(certificate, $event)">
                  <mat-icon class="mr-0">visibility</mat-icon>
                </button>
              </div>
            </mat-option>
          }
          <mat-option (click)="onNewCertificate()" [value]="null">
            <div class="flex justify-between">
              <span>{{ 'GENERAL.CREATE_CERTIFICATE' | transloco }}</span>
              <mat-icon class="mr-0">add</mat-icon>
            </div>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </kp-setting-toggle>
  }
</form>
