<span class="text-lg" mat-dialog-title>
  {{ 'MISSION.DETAILS.EDIT_RESUME_TITLE' | transloco }}
</span>
<div mat-dialog-content>
  <kp-editor [value]="model.editorData" (valueChange)="onValueChanged($event)"></kp-editor>
</div>
<mat-dialog-actions align="end">
  <button mat-stroked-button id="button-mission-detail-edit-cancel" class="mr-2" mat-dialog-close>
    {{ 'GENERAL.CANCEL' | transloco }}
  </button>
  <button
    mat-flat-button
    color="primary"
    (click)="onClick()"
    id="button-mission-detail-edit-save"
    [disabled]="!model.editorData"
  >
    {{ 'GENERAL.SAVE' | transloco }}
  </button>
</mat-dialog-actions>
