<div class="flex items-center justify-between px-6 w-full h-32">
  <span class="text-3xl font-normal"> Provedor </span>
</div>
<mat-divider></mat-divider>

<form class="flex items-center h-32 w-full relative" [formGroup]="formCreateProvider" id="providerForm">
  <mat-form-field class="w-64 h-18 mt-2 ml-6" appearance="outline">
    <input
      class="items-center"
      formControlName="name"
      matInput
      #inputName
      maxlength="50"
      placeholder="Nome do Provedor"
    />
    <mat-hint align="end">{{ inputName.value.length }}/50</mat-hint>
  </mat-form-field>

  <div class="mt-2 ml-4">
    <kp-image-file-upload
      [control]="formCreateProvider.controls['icon']"
      placeholder="Selecione um ícone"
      (srcEvent)="updateImageSrc($event)"
    ></kp-image-file-upload>
  </div>

  <div
    [ngStyle]="{ 'background-image': backgroundImageSrc ? 'url(' + backgroundImageSrc + ')' : '' }"
    class="h-20 w-20 bg-center object-cover rounded-full ml-6"
  ></div>

  <button
    type="button"
    (click)="createNewProvider()"
    [disabled]="!formCreateProvider.valid"
    mat-flat-button
    color="primary"
    class="w-44 text-sm h-11 ml-auto mr-6"
  >
    Cadastrar
  </button>
</form>

<mat-divider></mat-divider>
