<app-mission-mission-form-header
  class="w-full mb-4"
  [title]="'MISSION.CREATE.NAVIGATION.TITLE.IMAGES' | transloco"
  [label]="subtitle$ | async | transloco"
  (next)="next()"
  (previous)="previous()"
></app-mission-mission-form-header>

<mat-tab-group #tabGroup>
  <mat-tab [label]="'MISSION.CREATE.IMAGES.BANNER' | transloco">
    <div class="p-5">
      <kp-image-preview
        class="mx-auto aspect-3"
        [image]="bannerImage$ | async"
        aspectRatioStr="3:1"
        (remove)="onRemoveImage('banner')"
        (openDialog)="openImageGenDialog('banner')"
      ></kp-image-preview>
    </div>
  </mat-tab>
  <mat-tab [label]="'MISSION.CREATE.IMAGES.CARD' | transloco">
    <div class="p-5">
      <kp-image-preview
        class="max-w-80 mx-auto aspect-[9/16]"
        [image]="cardImage$ | async"
        aspectRatioStr="9:16"
        (remove)="onRemoveImage('card')"
        (openDialog)="openImageGenDialog('card')"
      ></kp-image-preview>
    </div>
  </mat-tab>
</mat-tab-group>
