<div class="flex justify-between gap-2 items-start">
  @if (!loading) {
    <div class="flex gap-2">
      @for (tag of missionTags; track tag; let last = $last) {
        <kp-card-tag
          data-test="mission-status-popup"
          [type]="tag?.type"
          [keepOpen]="last"
          [label]="tag?.label"
        ></kp-card-tag>
      }
    </div>
  } @else {
    <ngx-skeleton-loader [theme]="loaderTheme"></ngx-skeleton-loader>
  }

  <button data-test="close-mission" mat-icon-button (click)="emitClose()" class="text-white bg-black bg-opacity-25">
    <mat-icon>close</mat-icon>
  </button>
</div>
@if (mission?.provider?.icon; as icon) {
  <img
    data-test="mission-popup-provider-selector"
    class="absolute w-auto max-h-10 bottom-2 right-6"
    [src]="icon"
    [alt]="mission?.provider?.name"
  />
}
