<mat-form-field size="large" appearance="outline" class="w-full" subscriptSizing="dynamic">
  <input
    data-test="transfer-dialog-search-input"
    matInput
    [placeholder]="'TRANSFER_DIALOG.FILTER.PLACEHOLDER' | transloco"
    [formControl]="searchFormControl"
    [matAutocomplete]="recipientsAC"
  />

  <mat-autocomplete
    #recipientsAC="matAutocomplete"
    [displayWith]="displayFn"
    (optionSelected)="autoCompleteOptionSelected($event.option.value)"
  >
    @for (recipient of recipients; track recipient) {
      <mat-option [value]="recipient">
        <div class="flex flex-row gap-2.5 items-center">
          <img [src]="recipient.avatar || defaultAvatar" alt="Avatar" class="h-8 w-8 rounded-full" />
          <span class="text-ellipsis overflow-hidden secondary-text">{{ recipient.name }}</span>
        </div>
      </mat-option>
    }
  </mat-autocomplete>

  @if (selectedRecipient) {
    <img matPrefix [src]="selectedRecipient.avatar || defaultAvatar" alt="Avatar" class="h-8 w-8 rounded-full mx-4" />
  }

  @if (selectedRecipient) {
    <button [matTooltip]="'GENERAL.REMOVE' | transloco" mat-icon-button (click)="removeRecipient()" matSuffix>
      <mat-icon class="s-4">close</mat-icon>
    </button>
  }

  @if (!selectedRecipient) {
    <mat-icon matSuffix>search</mat-icon>
  }
</mat-form-field>
