#channel-detail {
  .channel-category {
    display: inline-block;
    background-color: #ff7152;
    color: #fff;
    border-radius: 10px;
    font-weight: 700;
    font-size: 0.8em;
    padding: 5px 10px;
  }

  .card-comment {
    width: 100%;
    min-height: 270px;
    margin-top: 20px;
  }
}

.channel-detail-header {
  display: none;
  gap: 1.5rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  background-color: var(--mat-sys-surface-container);
}

.channel-image {
  display: none;
  aspect-ratio: 1;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-color: var(--mat-sys-surface-container-low);
}

.inactive-channel-overlay {
  display: none;
  position: relative;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  place-content: center;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(#000, 0.5);
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
  }
}

.inactive-channel-label {
  position: relative;
  padding: 0.5rem 1.5rem;
  z-index: 10;
  background-color: #000;
  color: #fff;
  font-weight: bold;
  border-radius: 1000px;
}

.channel-info {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  border-radius: inherit;
  min-width: 0;
  overflow-wrap: break-word;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media (width >= 432px) {
  .channel-detail-header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

@media (width >= 830px) {
  .channel-detail-header {
    grid-template-columns: minmax(230px, 310px) 1fr;
  }

  .channel-image {
    display: block;
  }

  .inactive-channel-overlay {
    display: grid;
  }

  .channel-info {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    padding-left: 0;
  }
}
