<div
  id="channel-detail"
  class="flex-1"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="1000"
  [scrollWindow]="true"
  (scrolled)="onScroll()"
>
  @if (channel) {
    <div class="max-w-[1328px] mx-auto xxs:p-12 sm:p-10 pb-14">
      <!--Back navigation-->
      <h1 class="font-bold flex items-center xxs:mb-8">
        <button mat-icon-button routerLink="/pulses-feed" class="xxs:mr-4">
          <mat-icon>chevron_left</mat-icon>
        </button>
        <span class="leading-none">{{ 'GENERAL.BACK' | transloco }}</span>
      </h1>
      <mat-divider class="xxs:hidden"></mat-divider>
      <!--Back navigation-->
      <!--Header-->
      <div class="channel-detail-header">
        <img
          class="channel-image"
          [src]="channel.holder_image || 'assets/images/channel-default-image.png'"
          [alt]="channel.name"
        />
        @if (!channel.is_active) {
          <div data-test="inactive-channel-selector" class="inactive-channel-overlay">
            <span class="inactive-channel-label">
              {{ 'CHANNEL.INACTIVE' | transloco }}
            </span>
          </div>
        }
        <div class="channel-info">
          <h1 class="font-bold text-2xl mb-1">{{ channel.name }}</h1>
          <div class="flex flex-row gap-2 items-center mb-3">
            <mat-icon class="s-2">{{ channelTypeIcon }}</mat-icon>
            <span class="text-sm">
              {{ channelTypeLabel | transloco }}
            </span>
          </div>
          <p class="line-clamp-2 ck-editor" [innerHTML]="channel.description"></p>
          <span
            class="text-primary dark:text-white font-bold text-sm hover:cursor-pointer hover:underline mb-3"
            (click)="onSeeMore()"
            >{{ 'CHANNEL.DETAIL.SEE_MORE' | transloco }}</span
          >
          <!--Stats / Actions-->
          <div class="flex flex-wrap justify-between gap-4 mt-auto w-full">
            <div class="flex items-center gap-4">
              <div class="flex gap-2">
                <mat-icon class="s-6" svgIcon="pulse"></mat-icon>
                <span class="text-sm whitespace-nowrap"
                  >{{ channel.channel_statistics?.total_pulses }}
                  {{
                    'CHANNEL.DETAIL.PULSES'
                      | kpPluralizeTranslate: { value: channel.channel_statistics?.total_pulses }
                      | lowercase
                  }}</span
                >
              </div>
              <div class="flex">
                <button
                  mat-button
                  [class.pointer-events-none]="!channel.channel_statistics?.total_subscribers"
                  [matMenuTriggerFor]="menuSubscriptions"
                  class="p-0"
                >
                  <mat-icon class="s-7">person</mat-icon>
                  <span class="ml-2"
                    >{{ channel.channel_statistics?.total_subscribers }}
                    {{
                      'CHANNEL.DETAIL.ENROLLMENTS'
                        | kpPluralizeTranslate: { value: channel.channel_statistics?.total_subscribers }
                        | lowercase
                    }}</span
                  >
                </button>
                <mat-menu #menuSubscriptions="matMenu">
                  <ng-container
                    *ngTemplateOutlet="menuListTemplate; context: { $implicit: subscribers$ | async }"
                  ></ng-container>
                </mat-menu>
              </div>
              @if (contributors$ | async; as contributors) {
                <div class="hidden sm:flex items-center">
                  <button
                    mat-button
                    [class.pointer-events-none]="!contributors?.length"
                    [matMenuTriggerFor]="menuContributors"
                    class="p-0"
                    data-test="btn-add-contributors"
                  >
                    <mat-icon class="s-7 mr-2">groups</mat-icon>
                    <span class="ml-2"
                      >{{ contributors?.length }}
                      {{
                        'CHANNEL.DETAIL.CONTRIBUTORS' | kpPluralizeTranslate: { value: contributors.length } | lowercase
                      }}</span
                    >
                  </button>
                  <mat-menu #menuContributors="matMenu">
                    <ng-container
                      *ngTemplateOutlet="menuListTemplate; context: { $implicit: contributors }"
                    ></ng-container>
                  </mat-menu>
                </div>
              }
              <ng-template #menuListTemplate let-data>
                @for (row of data; track row) {
                  <div mat-menu-item>
                    <div class="flex items-center gap-2 truncate">
                      <div class="min-w-10 h-10 rounded-full border p-1 border-white hidden sm:flex flex-initial">
                        <img class="bg-white rounded-full" [src]="row.avatar || defaultUserAvatar" alt="user" />
                      </div>
                      <span class="truncate" [matTooltip]="row.name">{{ row.name }}</span>
                    </div>
                  </div>
                }
              </ng-template>
            </div>
            <div class="flex flex-row items-center justify-end gap-3.5 md:ml-auto">
              @if (canCreateOrEditPulse || canTransfer) {
                <mat-button-toggle-group class="action-button" [hideSingleSelectionIndicator]="true">
                  <mat-button-toggle (click)="onNewPulse(channel)" id="button-channel-detail-new">
                    {{ 'CHANNEL.DETAIL.NEW.PULSE' | transloco }}
                  </mat-button-toggle>
                  <mat-button-toggle data-test="button-channel-menu" [matMenuTriggerFor]="optionsMenu">
                    <mat-icon>arrow_drop_down</mat-icon>
                  </mat-button-toggle>
                </mat-button-toggle-group>
              }
              <mat-menu #optionsMenu="matMenu" xPosition="before" class="action-button-menu">
                @if (canCreateOrEditPulse) {
                  <button mat-menu-item (click)="onChannelEdit(channel)" id="button-channel-detail-edit">
                    {{ 'GENERAL.EDIT' | transloco }}
                  </button>
                }
                @if (canEditContributors) {
                  <button mat-menu-item (click)="onChannelContributors()" id="button-channel-detail-contributors">
                    {{ 'CHANNEL.DETAIL.CONTRIBUTORS.PLURAL' | transloco }}
                  </button>
                }
                @if (canCreateOrEditPulse && canTransfer) {
                  <button mat-menu-item (click)="onChannelTransfer(channel)" id="button-channel-detail-transfer">
                    {{ 'GENERAL.TRANSFER' | transloco }}
                  </button>
                }
                @if (isOwnerSuperAdmin) {
                  <button mat-menu-item (click)="onChannelDelete(channel)" id="button-channel-detail-delete">
                    {{ 'GENERAL.DELETE' | transloco }}
                  </button>
                }
                <button mat-menu-item (click)="vinculateGroup(channel.id)" id="button-channel-detail-group">
                  {{ 'CHANNEL.DETAIL.LINK.GROUP' | transloco }}
                </button>
              </mat-menu>
              @if (canSubscribe) {
                <button
                  mat-flat-button
                  color="primary"
                  class="fuse-large-button"
                  [color]="channel.enrolled ? 'default' : 'primary'"
                  (click)="onFavorite(channel)"
                  aria-hidden="false"
                  aria-label="Subscribe"
                >
                  {{
                    channel.enrolled
                      ? ('CHANNEL.DETAIL.SUBSCRIBED' | transloco)
                      : ('CHANNEL.DETAIL.SUBSCRIBE' | transloco)
                  }}
                </button>
              }
            </div>
          </div>
        </div>
      </div>
      <div class="xxs:hidden p-3.5">
        <div class="flex">
          <span data-test="channel-mobile-name" class="grow truncate font-bold">
            {{ channel.name }}
          </span>
          <div data-test="channel-ratting-selector" class="flex gap-1 justify-center items-center">
            <mat-icon>star</mat-icon>
            <span>{{ channel.rating_avg || '-' }}</span>
          </div>
        </div>
        <div data-test="channel-mobile-description" class="text-sm break-words line-clamp-4">
          {{ channel.description }}
        </div>
        <div class="flex mt-3 gap-2">
          <div class="flex items-center">
            <mat-icon class="s-4 mr-1.5" svgIcon="pulse"></mat-icon>
            <span data-test="channel-total-pulses-selector" class="text-sm"
              >{{ channel.channel_statistics?.total_pulses }}
              {{
                'CHANNEL.DETAIL.PULSES'
                  | kpPluralizeTranslate: { value: channel.channel_statistics?.total_pulses }
                  | lowercase
              }}</span
            >
          </div>
          <div class="flex items-center">
            <mat-icon class="s-6 mr-1">person</mat-icon>
            <span data-test="channel-card-subscribe-selector" class="text-sm"
              >{{ channel.channel_statistics?.total_subscribers }}
              {{
                'CHANNEL.DETAIL.ENROLLMENTS'
                  | kpPluralizeTranslate: { value: channel.channel_statistics?.total_subscribers }
                  | lowercase
              }}</span
            >
          </div>
          @if (!channel.is_owner && !channel.is_contributor) {
            <div class="ml-auto">
              <a data-test="channel-card-button-subscribe" (click)="onSubscribe(channel)" class="active:opacity-70">
                @if (channel.enrolled) {
                  <div class="pb-1 text-sm text-primary">
                    {{ 'CHANNEL.DETAIL.SUBSCRIBED' | transloco }}
                  </div>
                }
                @if (!channel.enrolled) {
                  <div class="pb-1 text-sm text-primary">
                    {{ 'CHANNEL.DETAIL.SUBSCRIBE' | transloco }}
                  </div>
                }
              </a>
            </div>
          }
        </div>
      </div>
      <mat-divider class="xxs:hidden"></mat-divider>
      <mat-tab-group
        [mat-stretch-tabs]="isMobile$ | async"
        [fitInkBarToContent]="isMobile$ | async"
        (selectedTabChange)="onChangeTab($event)"
      >
        <mat-tab [label]="'CHANNEL.DETAIL.PULSES.PLURAL' | transloco">
          <mat-divider class="xxs:hidden"></mat-divider>
          <div data-test="channel-pulses-selector" class="pt-3.5 xxs:pt-14 flex flex-col justify-center">
            <div
              class="grid gap-4 grid-cols-1 min-[480px]:grid-cols-2 min-[810px]:grid-cols-3 lg:grid-cols-4 justify-items-center"
            >
              @for (pulse of pulses$ | async; track pulse.id) {
                <kp-pulse-card
                  [pulse]="pulse"
                  (click)="toPulse(pulse)"
                  (favoriteToggle)="onPulseBookmark(pulse)"
                ></kp-pulse-card>
              }
            </div>
            @if (pulsesIsLoading$ | async) {
              <div
                class="grid gap-4 grid-cols-1 min-[480px]:grid-cols-2 min-[810px]:grid-cols-3 lg:grid-cols-4 justify-items-center"
              >
                @for (_ of [0, 1, 2, 5, 6, 7, 8, 9, 10, 11]; track _) {
                  <div class="w-full flex flex-col gap-4">
                    <ngx-skeleton-loader
                      count="1"
                      animation="pulse"
                      class="aspect-[1/1] flex-1"
                      [theme]="{ height: '100%', width: '100%', 'border-radius': '1rem' }"
                    ></ngx-skeleton-loader>
                  </div>
                }
              </div>
            }
            @if (noPulses$ | async) {
              <div class="message-box info mt-8">
                {{ 'CHANNEL.DETAIL.NO.PULSE.FOUND' | transloco }}
              </div>
            }
          </div>
        </mat-tab>
        <mat-tab [label]="'CHANNEL.DETAIL.DISCUSSION' | transloco">
          <mat-divider class="xxs:hidden"></mat-divider>
          <mat-card
            appearance="outlined"
            class="card-comment flex flex-col order-2 sm:order-1 p-4 max-xxs:mt-0 max-xxs:bg-transparent max-xxs:border-0"
          >
            <div class="mb-2.5 flex flex-col gap-4 p-4 rounded-xl">
              <kp-editor
                [value]="comment"
                [placeholder]="'CHANNEL.DETAIL.WRITE.COMMENT' | transloco"
                (valueChange)="onCommentChanged($event)"
              ></kp-editor>
              <button
                mat-flat-button
                class="self-end"
                color="primary"
                (click)="postComment(comment)"
                id="button-channel-detail-post-comment"
                [disabled]="!comment || !comment.trim()"
              >
                {{ 'GENERAL.SUBMIT' | transloco }}
              </button>
            </div>
            <kp-comments
              [title]="'CHANNEL.DETAIL.DISCUSSION' | transloco"
              [comments]="comments"
              [userId]="userId"
              [isLoading]="commentsIsLoading$ | async"
              [canDeleteAnyComment]="canDeleteAnyComment"
              (editEvent)="onEditComment($event)"
              (deleteEvent)="onDeleteComment($event)"
            >
            </kp-comments>
          </mat-card>
        </mat-tab>
      </mat-tab-group>
    </div>
  }
</div>
@if (uploads(); as uploads) {
  <kp-upload-dialog [hidden]="!uploads.length" [files]="uploads" (remove)="onClickRemove($event)"></kp-upload-dialog>
}
