.mission-evaluation-content {
  max-width: none;

  .card-container {
    border-radius: 8px;
  }

  .evaluations-container {
    mat-button-toggle-group {
      width: fit-content;
    }
  }

  .faces-container {
    .faces-values {
      border-radius: 20px;

      div {
        text-align: center;
      }

      &-red {
        background-color: #f44336;
      }

      &-orange {
        background-color: #ffc107;
      }

      &-green {
        background-color: #4caf50;
      }
    }

    .face {
      height: 40px;
      width: 40px;
      border: 2px solid;
      border-radius: 50%;
      position: relative;

      .eye {
        width: 4px;
        height: 4px;
        position: absolute;
        top: 35%;
        border-radius: 50%;
      }

      .left-eye {
        left: 25%;
      }

      .right-eye {
        right: 25%;
      }

      .mouth-neutral {
        width: 50%;
        height: 2px;
        background: #ffc107;
        position: absolute;
        right: 25%;
        bottom: 25%;
      }

      .mouth-sad {
        width: 60%;
        height: 10px;
        border: 2px solid #f44336;
        border-color: #f44336 transparent transparent;
        bottom: 5px;
        border-radius: 50% / 10px 10px 0 0;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
      }

      .mouth-happy {
        width: 60%;
        height: 10px;
        border: 2px solid #4caf50;
        border-color: #4caf50 transparent transparent;
        bottom: 5px;
        border-radius: 50% / 10px 10px 0 0;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        transform: rotate(-180deg);
      }

      &-orange {
        border-color: #ffc107;

        .left-eye,
        .right-eye,
        .smile {
          background: #ffc107;
        }
      }

      &-red {
        border-color: #f44336;

        .left-eye,
        .right-eye,
        .smile {
          background: #f44336;
        }
      }

      &-green {
        border-color: #4caf50;

        .left-eye,
        .right-eye,
        .smile {
          background: #4caf50;
        }
      }
    }
  }

  .status-red {
    height: 10px;
    border-radius: 10px;
    background: #f44336;
  }

  .status-orange {
    height: 10px;
    border-radius: 10px;
    background: #ffc107;
  }

  .status-green {
    height: 10px;
    border-radius: 10px;
    background: #4caf50;
  }
}

.card-bg {
  background-color: var(--mat-sys-surface-container-highest);
}
