<div class="h-20">
  <kp-global-search-input (filterEvent)="filterEvent.emit($event)"></kp-global-search-input>
</div>

<mat-divider></mat-divider>

<kp-vinculate-list
  [items]="items"
  [selectable]="true"
  [avatarKey]="avatarKey"
  [selection]="selectedItems"
  [columns]="columns"
  [loading]="isLoading"
  [selectionLabel]="selectionLabel"
  scrollContainerHeight="calc(65vh - 90px)"
  (scrolled)="onScroll()"
  (itemSelectionChange)="itemSelectionChange($event)"
  (selectAllChange)="onSelectAll($event)"
></kp-vinculate-list>

<mat-divider></mat-divider>
