<form [formGroup]="form()" class="mt-2">
  <!-- CONTENTS -->
  <div class="border border-default rounded-lg flex flex-col mb-2 p-4 gap-2">
    <mat-radio-group
      class="flex items-center gap-5"
      [value]="sourceContent()"
      (change)="sourceContent.set($event.value)"
    >
      <mat-radio-button value="INTERNAL">{{
        'HOME.BANNER.SETTINGS.CONTENTS.INTERNAL_CONTENT' | transloco
      }}</mat-radio-button>
      <mat-radio-button value="EXTERNAL">{{
        'HOME.BANNER.SETTINGS.CONTENTS.EXTERNAL_LINK' | transloco
      }}</mat-radio-button>
    </mat-radio-group>

    @if (sourceContent() === 'INTERNAL') {
      <mat-form-field
        appearance="outline"
        subscriptSizing="dynamic"
        [matTooltip]="'HOME.BANNER.SETTINGS.CONTENTS.CONTENT_LIMIT_REACHED' | transloco"
        [matTooltipDisabled]="!hasReachedContentLimit()"
      >
        <input
          matInput
          [matAutocomplete]="auto"
          [formControl]="contentControl"
          [placeholder]="'HOME.BANNER.SETTINGS.CONTENTS.INTERNAL_CONTENT_PLACEHOLDER' | transloco"
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          class="mr-2"
          [disabled]="addContentDisabled"
          (click)="addContent()"
        >
          <mat-icon>add</mat-icon>
        </button>
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          @for (content of internalContents(); track content.resource_id) {
            <mat-option [value]="content">
              <mat-icon>{{ content.icon }}</mat-icon>
              <span>{{ content.title }}</span>
            </mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
    } @else {
      <mat-form-field appearance="outline" subscriptSizing="dynamic">
        <input
          matInput
          [formControl]="urlControl"
          [placeholder]="'HOME.BANNER.SETTINGS.CONTENTS.EXTERNAL_LINK_URL_PLACEHOLDER' | transloco"
          [matTooltip]="'HOME.BANNER.SETTINGS.CONTENTS.CONTENT_LIMIT_REACHED' | transloco"
          [matTooltipDisabled]="!hasReachedContentLimit()"
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          class="mr-2"
          [disabled]="urlControl.invalid || hasReachedContentLimit()"
          [matMenuTriggerFor]="urlMenu"
          #menuTrigger
        >
          <mat-icon>add</mat-icon>
        </button>
      </mat-form-field>

      <mat-menu #urlMenu="matMenu" class="w-96 max-w-none" xPosition="before">
        <div class="px-2 py-1 flex flex-col gap-2 w-full" (click)="$event.stopPropagation()">
          <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <mat-label>{{ 'HOME.BANNER.SETTINGS.CONTENTS.EXTERNAL_LINK_TITLE_LABEL' | transloco }}</mat-label>
            <input matInput [formControl]="urlTitleControl" />
          </mat-form-field>

          <kp-image-file-upload
            [placeholder]="'HOME.BANNER.SETTINGS.CONTENTS.EXTERNAL_LINK_IMAGE_LABEL' | transloco"
            [control]="urlImageControl"
          ></kp-image-file-upload>

          <button
            mat-flat-button
            class="w-min ml-auto -mt-3"
            color="primary"
            (click)="addExternalContent()"
            [disabled]="addExternalContentDisabled"
          >
            {{ 'GENERAL.ADD' | transloco }}
          </button>
        </div>
      </mat-menu>
    }

    <!-- DRAG DROP -->
    @if (learningResources()?.length) {
      <div cdkDropList class="rounded-lg flex flex-col p-4 gap-2 drag-list mt-2" (cdkDropListDropped)="drop($event)">
        @for (content of learningResources(); track content; let i = $index) {
          <div cdkDrag class="drag-item rounded-lg flex items-center px-4 py-1.5 gap-3 shadow-md cursor-move">
            <mat-icon>{{ content.icon }}</mat-icon>
            <div class="text-sm line-clamp-1">{{ content.title || content.external_resource_title }}</div>
            <button type="button" mat-icon-button class="ml-auto" (click)="deleteContent(i)">
              <mat-icon>delete</mat-icon>
            </button>
            <mat-icon>drag_indicator</mat-icon>
          </div>
        }
      </div>
    }
  </div>

  <!-- SCHEDULE -->
  <div class="border border-default rounded-lg flex flex-col">
    <div class="flex items-center gap-3 border-b border-default p-4">
      <mat-icon class="s-7">schedule</mat-icon>
      <span>{{ 'HOME.BANNER.SETTINGS.SCHEDULE.TITLE' | transloco }}</span>
      <mat-slide-toggle
        class="ml-auto"
        [checked]="hasSchedule()"
        (change)="setScheduleStatus($event)"
      ></mat-slide-toggle>
    </div>
    <div class="p-4 flex flex-col gap-2">
      <div class="flex items-center gap-3">
        <mat-form-field appearance="outline" subscriptSizing="dynamic" floatLabel="always" class="grow">
          <mat-label>{{ 'HOME.BANNER.SETTINGS.SCHEDULE.ACTIVATION' | transloco }}</mat-label>
          <input matInput formControlName="start_date" [matDatepicker]="pickerStart" placeholder="00/00/0000" />
          <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
          <mat-datepicker #pickerStart></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" subscriptSizing="dynamic" floatLabel="always" class="grow">
          <mat-label>{{ 'HOME.BANNER.SETTINGS.SCHEDULE.DEACTIVATION' | transloco }}</mat-label>
          <input matInput formControlName="end_date" [matDatepicker]="pickerEnd" placeholder="00/00/0000" />
          <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
          <mat-datepicker #pickerEnd></mat-datepicker>
        </mat-form-field>
      </div>

      @if (form().hasError('invalidDateRange')) {
        <div class="text-xs text-red-500">
          {{ 'HOME.BANNER.SETTINGS.SCHEDULE.ERROR_MESSAGE' | transloco }}
        </div>
      }
    </div>
  </div>
</form>
