<div class="kp-viewer">
  @if (contentType !== EmbedContentType.Video && contentType !== EmbedContentType.Podcast) {
    <kp-content-activity-tracker-wrapper
      [startAutomatically]="false"
      [disableActivityEvents]="disableActivityEvents"
      (activityEvent)="onTrackingActivity($event)"
      #tracker
    >
      @switch (contentType) {
        @case (EmbedContentType.PDF) {
          <kp-pdf-viewer [url]="url" (started)="onContentStarted()"></kp-pdf-viewer>
        }
        @case (EmbedContentType.Image) {
          <kp-image-viewer
            [url]="url"
            [enableFullscreen]="enableImageFullscreen"
            (started)="onContentStarted()"
          ></kp-image-viewer>
        }
        @default {
          <kp-docs-viewer
            [url]="url"
            [contentType]="contentType"
            (started)="onContentStarted()"
            data-test="docsViewer"
          ></kp-docs-viewer>
        }
      }
    </kp-content-activity-tracker-wrapper>
  } @else {
    <kp-player-activity-tracker-wrapper
      (activityEvent)="onTrackingActivity($event)"
      #trackerPlayer
      [disableActivityEvents]="disableActivityEvents"
    >
      @switch (contentType) {
        @case (EmbedContentType.Podcast) {
          <kp-audio-player
            [url]="url"
            (played)="onPlayerStarted()"
            (paused)="onPlayerPaused()"
            data-test="audioPlayer"
          ></kp-audio-player>
        }
        @default {
          <kp-media-player
            data-test="videoPlayer"
            [url]="url"
            [currentLanguage]="currentLanguage"
            [mediaPlayerClass]="mediaPlayerClass"
            (played)="onPlayerStarted()"
            (paused)="onPlayerPaused()"
          ></kp-media-player>
        }
      }
    </kp-player-activity-tracker-wrapper>
  }
</div>
