<app-mission-mission-form-header
  class="w-full mb-4"
  [title]="'MISSION.CREATE.NAVIGATION.TITLE.CONTENTS' | transloco"
  [label]="'MISSION.CREATE.NAVIGATION.SUBTITLE.CONTENTS' | transloco"
  (next)="next()"
  (previous)="previous()"
></app-mission-mission-form-header>

<app-mission-content-form
  [mission]="mission$ | async"
  [stages]="stages$ | async"
  (reorderStages)="onStagesReorder($event)"
></app-mission-content-form>

@let uploads = currentUploads();
@if (uploads) {
  <kp-upload-dialog [hidden]="!uploads.length" [files]="uploads" (remove)="onUploadRemove($event)"></kp-upload-dialog>
}
