<form class="flex flex-col" [formGroup]="form" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline" class="w-full cursor-pointer mt-4 cycle" subscriptSizing="dynamic">
    <input
      matInput
      formControlName="cycle"
      [matAutocomplete]="cyclesAc"
      [placeholder]="'LINK_CYCLE.DIALOG_SELECT_PLACEHOLDER' | transloco"
    />
    <mat-autocomplete #cyclesAc [displayWith]="cycleDisplay">
      @for (cycle of cycles; track trackByFn($index, cycle)) {
        <mat-option [value]="cycle">
          {{ cycle?.compliance?.name }}
        </mat-option>
      }
    </mat-autocomplete>
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <div class="mt-6 flex gap-2 justify-end">
    <button mat-button mat-dialog-close class="h-10 w-22 text-primary">
      {{ 'LINK_CYCLE.DIALOG_CANCEL_BUTTON' | transloco }}
    </button>
    <button
      mat-raised-button
      mat-dialog-close
      id="submit"
      color="primary"
      class="h-10 w-24"
      type="submit"
      [disabled]="form.invalid"
    >
      {{ 'LINK_CYCLE.DIALOG_SUBMIT_BUTTON' | transloco }}
    </button>
  </div>
</form>
