<div class="tracking-collection">
  <!-- Learning Trail Collection -->
  @if (dataSourceEnrollmentTrackingCollection) {
    <cdk-table class="card-table" [dataSource]="dataSourceEnrollmentTrackingCollection">
      <ng-container cdkColumnDef="content-name">
        <cdk-header-cell *cdkHeaderCellDef>{{ 'ENROLLMENT.TRACKING.TABLE.CONTENT' | transloco }}</cdk-header-cell>
        <cdk-cell *cdkCellDef="let row" class="flex flex-col flex-wrap items-start gap-4 pl-4 truncate">
          <div [matTooltip]="row.track.name" class="flex items-center gap-4 w-full leading-9">
            <mat-icon class="s-6" color="accent" [svgIcon]="row.track.step_type | lowercase"></mat-icon>
            <span class="text-ellipsis overflow-hidden">{{ row.track.name || '-' }}</span>
            @if (row.track.external_course) {
              <mat-icon class="s-6" color="accent" svgIcon="moving"></mat-icon>
            }
          </div>
          @if (row.opened) {
            @for (trackRow of row.contents; track trackRow) {
              <div [@fadeInOut] class="flex w-full border-row rounded-l-lg border-r-0 p-4">
                <ng-container *ngTemplateOutlet="nameTemplate; context: { $implicit: trackRow }"></ng-container>
              </div>
            }
          }
        </cdk-cell>
      </ng-container>
      <ng-container cdkColumnDef="first-access">
        <cdk-header-cell *cdkHeaderCellDef class="hidden sm:flex justify-center text-center">{{
          'ENROLLMENT.TRACKING.TABLE.FIRST_ACCESS' | transloco
        }}</cdk-header-cell>
        <cdk-cell *cdkCellDef="let row" class="hidden sm:flex flex-col flex-wrap items-center gap-4">
          <span class="leading-9">&#8203;</span>
          @if (row.opened) {
            @for (trackRow of row.contents; track trackRow) {
              <div [@fadeInOut] class="flex w-full border-row border-x-0 justify-center p-4">
                <ng-container
                  *ngTemplateOutlet="dateTemplate; context: { $implicit: trackRow.first_access }"
                ></ng-container>
              </div>
            }
          }
        </cdk-cell>
      </ng-container>
      <ng-container cdkColumnDef="last-access">
        <cdk-header-cell *cdkHeaderCellDef class="hidden sm:flex justify-center text-center">{{
          'ENROLLMENT.TRACKING.TABLE.LAST_ACCESS' | transloco
        }}</cdk-header-cell>
        <cdk-cell *cdkCellDef="let row" class="hidden sm:flex flex-col flex-wrap items-center gap-4">
          <span class="leading-9">&#8203;</span>
          @if (row.opened) {
            @for (trackRow of row.contents; track trackRow) {
              <div [@fadeInOut] class="flex w-full border-row border-x-0 justify-center p-4">
                <ng-container
                  *ngTemplateOutlet="dateTemplate; context: { $implicit: trackRow.last_access }"
                ></ng-container>
              </div>
            }
          }
        </cdk-cell>
      </ng-container>
      <ng-container cdkColumnDef="consumption">
        <cdk-header-cell *cdkHeaderCellDef class="hidden sm:flex justify-center text-center">{{
          'ENROLLMENT.TRACKING.TABLE.CONSUMPTION' | transloco
        }}</cdk-header-cell>
        <cdk-cell *cdkCellDef="let row" class="hidden sm:flex flex-col flex-wrap items-center gap-4">
          <span class="leading-9">&#8203;</span>
          @if (row.opened) {
            @for (trackRow of row.contents; track trackRow) {
              <div [@fadeInOut] class="flex w-full border-row border-x-0 justify-center p-4">
                <ng-container *ngTemplateOutlet="consumptionTemplate; context: { $implicit: trackRow }"></ng-container>
              </div>
            }
          }
        </cdk-cell>
      </ng-container>
      <ng-container cdkColumnDef="duration">
        <cdk-header-cell *cdkHeaderCellDef class="hidden sm:flex justify-center text-center">
          {{ 'ENROLLMENT.TRACKING.TABLE.CONTENT_DURATION' | transloco }}</cdk-header-cell
        >
        <cdk-cell *cdkCellDef="let row" class="hidden sm:flex flex-col flex-wrap items-center gap-4">
          <span class="leading-9">&#8203;</span>
          @if (row.opened) {
            @for (trackRow of row.contents; track trackRow) {
              <div [@fadeInOut] class="flex w-full border-row border-x-0 justify-center p-4">
                {{ trackRow.content_duration | kpDuration }}
              </div>
            }
          }
        </cdk-cell>
      </ng-container>
      <ng-container cdkColumnDef="consumption_status">
        <cdk-header-cell
          *cdkHeaderCellDef
          class="hidden sm:flex justify-center text-center"
          [matTooltip]="'ENROLLMENT.TRACKING.TABLE.CONSUMPTION_STATUS_TOOLTIP' | transloco"
          >{{ 'ENROLLMENT.TRACKING.TABLE.CONSUMPTION_STATUS' | transloco }}</cdk-header-cell
        >
        <cdk-cell *cdkCellDef="let row" class="hidden sm:flex flex-col flex-wrap items-end gap-4 pr-4">
          <span class="leading-9 flex items-center">
            &#8203;
            @if (row.contents?.length) {
              <mat-icon class="s-7 transition-transform" [ngClass]="{ 'rotate-180': row.opened }"
                >keyboard_arrow_down</mat-icon
              >
            }
          </span>
          @if (row.opened && row.contents?.length) {
            @for (trackRow of row.contents; track trackRow) {
              <div [@fadeInOut] class="flex w-full border-row rounded-r-lg border-l-0 justify-center p-4 pl-8">
                <ng-container
                  *ngTemplateOutlet="consumptionStatusTemplate; context: { $implicit: trackRow }"
                ></ng-container>
              </div>
            }
          }
        </cdk-cell>
      </ng-container>
      <div class="text-center w-full py-24" *matNoDataRow>
        {{ 'ENROLLMENT.TRACKING.TABLE.' + (isLoading ? 'LOADING' : 'EMPTY') | transloco }}
      </div>
      <cdk-header-row *cdkHeaderRowDef="displayedColumns; sticky: true"></cdk-header-row>
      <cdk-row
        class="mx-4"
        (click)="row.opened = !row.opened"
        *cdkRowDef="let row; columns: displayedColumns"
      ></cdk-row>
    </cdk-table>
  }

  <!-- Mission Collection -->
  @if (dataSourceEnrollmentTracking) {
    <cdk-table class="card-table" [dataSource]="dataSourceEnrollmentTracking">
      <ng-container cdkColumnDef="content-name">
        <cdk-header-cell *cdkHeaderCellDef class="pl-4">{{
          'ENROLLMENT.TRACKING.TABLE.CONTENT' | transloco
        }}</cdk-header-cell>
        <cdk-cell *cdkCellDef="let row" [matTooltip]="row.name" class="flex items-center p-4">
          <ng-container *ngTemplateOutlet="nameTemplate; context: { $implicit: row }"></ng-container>
        </cdk-cell>
      </ng-container>
      <ng-container cdkColumnDef="first-access">
        <cdk-header-cell *cdkHeaderCellDef class="hidden sm:flex justify-center text-center">{{
          'ENROLLMENT.TRACKING.TABLE.FIRST_ACCESS' | transloco
        }}</cdk-header-cell>
        <cdk-cell *cdkCellDef="let row" class="hidden sm:flex justify-center">
          <ng-container *ngTemplateOutlet="dateTemplate; context: { $implicit: row.first_access }"></ng-container>
        </cdk-cell>
      </ng-container>
      <ng-container cdkColumnDef="last-access">
        <cdk-header-cell *cdkHeaderCellDef class="hidden sm:flex justify-center text-center">{{
          'ENROLLMENT.TRACKING.TABLE.LAST_ACCESS' | transloco
        }}</cdk-header-cell>
        <cdk-cell *cdkCellDef="let row" class="hidden sm:flex justify-center">
          <ng-container *ngTemplateOutlet="dateTemplate; context: { $implicit: row.last_access }"></ng-container>
        </cdk-cell>
      </ng-container>
      <ng-container cdkColumnDef="consumption">
        <cdk-header-cell *cdkHeaderCellDef class="hidden sm:flex justify-center text-center">{{
          'ENROLLMENT.TRACKING.TABLE.CONSUMPTION' | transloco
        }}</cdk-header-cell>
        <cdk-cell *cdkCellDef="let row" class="hidden sm:flex justify-center">
          <ng-container *ngTemplateOutlet="consumptionTemplate; context: { $implicit: row }"></ng-container>
        </cdk-cell>
      </ng-container>
      <ng-container cdkColumnDef="duration">
        <cdk-header-cell *cdkHeaderCellDef class="hidden sm:flex justify-center text-center">
          {{ 'ENROLLMENT.TRACKING.TABLE.CONTENT_DURATION' | transloco }}
        </cdk-header-cell>
        <cdk-cell *cdkCellDef="let row" class="hidden sm:flex justify-center">
          <ng-container *ngTemplateOutlet="contentDurationTemplate; context: { $implicit: row }"></ng-container>
        </cdk-cell>
      </ng-container>
      <ng-container cdkColumnDef="consumption_status">
        <cdk-header-cell
          *cdkHeaderCellDef
          class="hidden sm:flex justify-center text-center"
          [matTooltip]="'ENROLLMENT.TRACKING.TABLE.CONSUMPTION_STATUS_TOOLTIP' | transloco"
          >{{ 'ENROLLMENT.TRACKING.TABLE.CONSUMPTION_STATUS' | transloco }}</cdk-header-cell
        >
        <cdk-cell *cdkCellDef="let row" class="hidden sm:flex justify-center">
          <ng-container *ngTemplateOutlet="consumptionStatusTemplate; context: { $implicit: row }"></ng-container>
        </cdk-cell>
      </ng-container>
      <div class="text-center w-full py-24" *matNoDataRow>
        {{ 'ENROLLMENT.TRACKING.TABLE.' + (isLoading ? 'LOADING' : 'EMPTY') | transloco }}
      </div>
      <cdk-header-row *cdkHeaderRowDef="displayedColumns; sticky: true"></cdk-header-row>
      <cdk-row class="mx-4" *cdkRowDef="let row; columns: displayedColumns"></cdk-row>
    </cdk-table>
  }
</div>

<ng-template #nameTemplate let-row>
  @if (row.content || row.total_questions > 0) {
    <mat-icon
      class="s-6 mr-4"
      color="accent"
      [svgIcon]="row.content?.content_type?.name || (row.total_questions > 0 ? 'question' : '') | KpContentIconName"
    ></mat-icon>
  }
  <div class="truncate">
    {{ row.name || '-' }}
  </div>
</ng-template>

<ng-template #dateTemplate let-date>
  {{ (date | date: 'shortDate') || '-' }}
</ng-template>

<ng-template #consumptionTemplate let-row>
  <div class="items-center">
    {{
      row.content || row.consume_duration
        ? (row.consume_duration | kpDuration)
        : row.total_questions
          ? row.total_correct_answers + '/' + row.total_questions
          : '-'
    }}
  </div>
</ng-template>
<ng-template #contentDurationTemplate let-row>
  <div class="items-center">{{ row.content_duration | kpDuration }}</div>
</ng-template>
<ng-template #consumptionStatusTemplate let-row>
  <div
    [class]="
      'w-5 h-5 rounded-full flex items-center justify-center consumption-status-' + row.consumption_status?.color
    "
    [matTooltip]="'ENROLLMENT.TRACKING.TABLE.CONSUMPTION_STATUS_TYPE.' + row.consumption_status?.color | transloco"
  >
    <mat-icon class="s-4 text-white">{{ row.consumption_status?.icon }}</mat-icon>
  </div>
</ng-template>
