@use 'sass:map';
@use '@angular/material' as mat;
@use 'libs/shared-ui/ui/src/lib/styles/theme' as ui-theme;
@use 'libs/classroom/src/lib/course.theme';
@use 'apps/konquest-web/src/app/main/mission/mission.theme';
@use 'apps/konquest-web/src/app/main/learning-trail/learning-trail.theme';
@use 'apps/konquest-web/src/app/main/mission-enrollments/mission-enrollments.theme';
@use 'apps/konquest-web/src/app/main/mission/pages/presential-live-detail-dialog/presential-live-detail-dialog.theme';
@use 'apps/konquest-web/src/app/main/transfer-dialog/transfer-dialog.theme';
@use 'apps/konquest-web/src/app/main/mission-transfer/mission-transfer.theme';

// Konquest components themes
@mixin components-theme {
  // UI Library
  @include ui-theme.ui-theme;

  // Mission
  @include mission.mission-theme;

  // Course
  @include course.course-theme;

  // Enrollments
  @include mission-enrollments.mission-enrollments-theme;

  // Learning Trail
  @include learning-trail.learning-trail-theme;

  // Mission Detail Dialog
  @include presential-live-detail-dialog.presential-live-detail-dialog;

  // Transfer Dialog
  @include transfer-dialog.transfer-dialog-theme;

  // Mission transfer
  @include mission-transfer.mission-transfer-theme;
}

/* Angular Material theme */
html {
  color-scheme: light dark;
  background: var(--mat-sys-surface);

  @include mat.theme(
    (
      color: mat.$violet-palette,
      typography: Roboto,
      density: 0,
    )
  );

  .material-symbols-outlined {
    font-variation-settings:
      'FILL' var(--icon-fill, 0),
      'wght' 400,
      'GRAD' -25,
      'opsz' var(--optical-sizing, 24);
  }

  @include components-theme;
}
