<fuse-layout
  [enableGlobalSearch]="true"
  [fullscreenTooltip]="'GENERAL.FULLSCREEN' | transloco"
  (logoClick)="openGlobalSearchDialog()"
>
  <div primaryMenu class="flex w-full items-center">
    <kp-global-search-trigger
      data-test="global-search-trigger"
      (open)="openGlobalSearchDialog()"
    ></kp-global-search-trigger>

    @if ((isMobile$ | async) === false) {
      <app-create-learn-content-button></app-create-learn-content-button>
    }
  </div>

  <kp-notification
    [locale]="locale"
    [notifications]="notifications$ | async"
    [count]="notificationsCount$ | async"
    (removeItem)="onDiscardNotification($event)"
    (selectItem)="onSelectNotification($event)"
    (readAll)="clearAllNotifications()"
  ></kp-notification>

  @if ((isMobile$ | async) === false) {
    <button mat-icon-button (click)="openMyStatistics()">
      <mat-icon>insert_chart</mat-icon>
    </button>
  }

  <kp-menu
    [apps]="apps$ | async"
    [customMenuItems]="customMenuItems()"
    [workspaceBaseHref]="baseHref$ | async"
  ></kp-menu>

  @if ((isMobile$ | async) === false) {
    @if (featureFlags['gamification'] && isGamificationActive$ | async) {
      <kp-personal-score
        [score]="personalScore$ | async"
        [partialRanking]="partialRanking$ | async"
        [statistics]="statistics$ | async"
        [isLoading]="isLoadingMenu$ | async"
        [userId]="(user$ | async)?.id"
        (navigate)="navigateToGeneralRanking()"
        (click)="loadGamificationMenu()"
      ></kp-personal-score>
    }
  }

  <kp-user-menu
    [user]="user$ | async"
    [workspaceName]="(currentWorkspace$ | async)?.name"
    [hasMultipleWorkspaces]="hasMultipleWorkspaces()"
    (logout)="logout()"
    (profile)="profile()"
  ></kp-user-menu>

  <div fuseVerticalNavigationFooter class="hidden xxs:flex p-4 justify-center">
    <kp-chatbot></kp-chatbot>
  </div>
</fuse-layout>
