<div class="p-10 flex flex-1 items-center justify-center h-full overflow-auto bg-[var(--mat-sys-surface-bright)]">
  <kp-quiz-card
    class="pulse-quiz"
    [loading]="loading$ | async"
    [questions]="questions$ | async"
    [answers]="answers$ | async"
    [answeringQuiz]="answeringQuiz$ | async"
    [score]="score$ | async"
    [loadingScore]="loadingScore$ | async"
    [randomizeQuestions]="randomizeQuestions$ | async"
    [randomizeOptions]="randomizeOptions$ | async"
    [showNextContent]="false"
    (answerEvent)="onAnswer($event)"
    (finishEvent)="onFinish()"
  ></kp-quiz-card>
</div>
