<form [formGroup]="informationFormGroup" class="flex flex-col gap-2" (ngSubmit)="onSubmit()">
  <app-mission-mission-form-header
    class="w-full mb-4"
    [title]="'MISSION.CREATE.NAVIGATION.TITLE.INFO' | transloco"
    [label]="'MISSION.CREATE.NAVIGATION.SUBTITLE.FILL_ALL_FIELDS' | transloco"
    [hidePrevious]="true"
    [nextDisabled]="informationFormGroup.invalid"
  ></app-mission-mission-form-header>

  <div class="flex gap-2 flex-wrap w-full">
    <mat-form-field appearance="outline" class="flex-auto basis-2/3">
      <mat-label>
        {{ 'GENERAL.NAME' | transloco }}
      </mat-label>
      <input matInput id="input-mission-step-info-name" #nameInput formControlName="name" maxlength="200" />
      <mat-error>{{ 'MISSION.CREATE.INFO.ERROR.NAME' | transloco }}</mat-error>
      <mat-hint [align]="'end'">{{ nameInput.value.length || 0 }}/200</mat-hint>
    </mat-form-field>

    @if (isNormativeActive) {
      <mat-form-field appearance="outline" class="flex-auto">
        <mat-label>{{ 'MISSION.CREATE.INFO.INNER_CODE' | transloco }}</mat-label>
        <input matInput maxlength="30" formControlName="inner_code" />
      </mat-form-field>
    }
  </div>

  <mat-form-field data-test="mission-info-category-selector" appearance="outline" class="w-full">
    <mat-label>
      {{ 'MISSION.CREATE.INFO.CATEGORY' | transloco }}
    </mat-label>
    <mat-select
      #select
      formControlName="mission_category"
      id="list-mission-step-info-category"
      [compareWith]="optionsCompareWith"
    >
      @if (select?.value; as category) {
        <mat-select-trigger>
          {{ category.name | kpCategoryLabel | transloco }}
        </mat-select-trigger>
      }

      @for (category of categories; track category) {
        <mat-option
          [attr.data-test]="'mission-category-' + (category.name | kpCategoryLabel | transloco)"
          [value]="category"
        >
          {{ category.name | kpCategoryLabel | transloco }}
        </mat-option>
      }
    </mat-select>
    <mat-error>{{ 'MISSION.CREATE.INFO.ERROR.CATEGORY' | transloco }}</mat-error>
  </mat-form-field>

  <div class="flex gap-2 flex-wrap w-full">
    <mat-form-field appearance="outline" class="flex-auto">
      <mat-label>
        {{ 'GENERAL.LANGUAGE' | transloco }}
      </mat-label>
      <mat-select formControlName="language" data-test="language">
        @for (language of languages; track language) {
          <mat-option [value]="language">
            <div class="flex items-center gap-6">
              <kp-language-color-tag [language]="language"></kp-language-color-tag>
              <span>{{ 'GENERAL.LANGUAGES.' + (language | lowercase) | transloco }}</span>
            </div>
          </mat-option>
        }
      </mat-select>
      <mat-error>{{ 'MISSION.CREATE.INFO.ERROR.LANGUAGE' | transloco }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="flex-auto">
      <mat-label>
        {{ 'MISSION.CREATE.INFO.TYPE' | transloco }}
      </mat-label>
      <mat-select formControlName="mission_type" id="list-mission-step-info-type" [compareWith]="optionsCompareWith">
        @for (type of types; track type) {
          <mat-option [value]="type">
            {{ 'GENERAL.CHANNEL-TYPE.' + type.name | transloco }}
          </mat-option>
        }
      </mat-select>
      <mat-error>{{ 'MISSION.CREATE.INFO.ERROR.MISSION_TYPE' | transloco }}</mat-error>
    </mat-form-field>

    @if (displayAssessmentType) {
      <mat-form-field appearance="outline" class="flex-auto">
        <mat-label>
          {{ 'MISSION.CREATE.INFO.ASSESSMENT_TYPE' | transloco }}
        </mat-label>
        <mat-select data-test="mission-assessment-type-selector" formControlName="assessment_type">
          @for (item of assessmentTypes | keyvalue; track item) {
            <mat-option [value]="item.key">
              {{ 'GENERAL.ASSESSMENT.' + item.key | transloco }}
            </mat-option>
          }
        </mat-select>
        <mat-error>{{ 'MISSION.CREATE.INFO.ERROR.ASSESSMENT_TYPE' | transloco }}</mat-error>
      </mat-form-field>
    }
  </div>

  <mat-form-field appearance="outline" class="w-full">
    <mat-label>
      {{ 'GENERAL.DESCRIPTION' | transloco }}
    </mat-label>
    <input
      matInput
      id="input-mission-step-info-description"
      #descriptionInput
      formControlName="description"
      class="resize-none"
      maxlength="250"
    />
    <mat-hint align="end">{{ descriptionInput.value.length }}/250 </mat-hint>
    <mat-error>{{ 'MISSION.CREATE.INFO.ERROR.DESCRIPTION' | transloco }}</mat-error>
  </mat-form-field>
</form>
