@if (isMobile$ | async) {
  <kp-global-search-mobile
    [items]="items$ | async"
    [count]="count$ | async"
    [loading]="loading$ | async"
    [loadingMore]="loadingMore$ | async"
    [tabs]="tabs$ | async"
    [activeTab]="activeTab$ | async"
    [searchTerm]="searchTerm$ | async"
    (openDetails)="onOpenDetails($event)"
    (scrolled)="fetchMoreItems()"
    (contentType)="changeContentType($event)"
    (serchTerm)="updateFilter({ search: $event })"
    (openContent)="onOpenContent($event)"
  ></kp-global-search-mobile>
} @else {
  <div class="h-full flex flex-col overflow-hidden">
    <!-- INPUT -->
    <div class="h-[55px] flex justify-between items-center">
      <kp-global-search-input
        class="h-full grow"
        iconClass="mr-0.5"
        inputClass="text-base"
        placeholder="UI.GLOBAL_SEARCH.SEARCH"
        [searchTerm]="searchTerm$ | async"
        (filterEvent)="updateFilter({ search: $event })"
      ></kp-global-search-input>
      <button mat-icon-button class="mr-4" (click)="toggleFilter()">
        <mat-icon>tune</mat-icon>
      </button>
    </div>
    <!-- / INPUT -->
    <!-- LIST -->
    <kp-global-search-list
      class="h-[calc(100%-55px)]"
      [items]="items$ | async"
      [count]="count$ | async"
      [loading]="loading$ | async"
      [loadingMore]="loadingMore$ | async"
      [tabs]="tabs$ | async"
      [activeTab]="activeTab$ | async"
      (openDetails)="onOpenDetails($event)"
      (scrolled)="fetchMoreItems()"
      (contentType)="changeContentType($event)"
      (openContent)="onOpenContent($event)"
    >
      <div class="w-[208px]">
        <kp-global-search-side-filter
          [activeFilters]="activeFilters$ | async"
          [filterOptions]="filterOptions$ | async"
          (filterEvent)="updateFilter($event)"
          (cleanFilterEvent)="cleanFilter()"
        >
        </kp-global-search-side-filter>
      </div>
    </kp-global-search-list>
    <!-- / LIST -->
  </div>
}
