<div class="grow flex h-full">
  <mat-table [dataSource]="groups()" [hidden]="hiddenTable()">
    <ng-container matColumnDef="icon">
      <mat-header-cell *matHeaderCellDef class="w-16 flex-none"></mat-header-cell>
      <mat-cell *matCellDef="let row" class="w-16 flex-none">
        <mat-icon>groups</mat-icon>
      </mat-cell>
    </ng-container>

    <!-- User name Definition -->
    <ng-container matColumnDef="name" [sticky]="true">
      <mat-header-cell *matHeaderCellDef class="min-w-52 fixed-column-right-border">
        {{ 'GENERAL.NAME' | transloco }}
      </mat-header-cell>
      <mat-cell
        *matCellDef="let row"
        class="[word-break:break-word] line-clamp-3 font-bold min-w-52 fixed-column-right-border"
      >
        <div class="flex items-center gap-2 h-full">
          <span>{{ row.name }}</span>
          @if (row.is_integration) {
            <mat-icon
              class="s-4 filled"
              [matTooltip]="'GROUPS.TABLE.INTEGRATION_GROUP' | transloco"
              matTooltipPosition="above"
            >
              error
            </mat-icon>
          }
        </div>
      </mat-cell>
    </ng-container>

    <!-- Learning Trails Definition -->
    <ng-container matColumnDef="trails">
      <mat-header-cell *matHeaderCellDef class="justify-center min-w-24">
        {{ 'GROUPS.TABLE.TRAILS' | transloco }}
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="justify-center min-w-24">
        {{ row.learning_trails }}
      </mat-cell>
    </ng-container>

    <!-- Missions Definition -->
    <ng-container matColumnDef="missions">
      <mat-header-cell *matHeaderCellDef class="justify-center min-w-24">
        {{ 'GROUPS.TABLE.MISSIONS' | transloco }}
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="justify-center min-w-24">
        {{ row.missions }}
      </mat-cell>
    </ng-container>

    <!-- Channels Definition -->
    <ng-container matColumnDef="channels">
      <mat-header-cell *matHeaderCellDef class="justify-center min-w-24">
        {{ 'GROUPS.TABLE.CHANNELS' | transloco }}
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="justify-center min-w-24">
        {{ row.channels }}
      </mat-cell>
    </ng-container>

    <!-- Users Definition -->
    <ng-container matColumnDef="users">
      <mat-header-cell *matHeaderCellDef class="justify-center min-w-24">
        {{ 'GROUPS.TABLE.USERS' | transloco }}
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="justify-center min-w-24">
        {{ row.users }}
      </mat-cell>
    </ng-container>

    <!-- Actions Definition -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef class="justify-center pr-4 min-w-24 max-w-24"
        >{{ 'GENERAL.MENU' | transloco }}
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="justify-center pr-4 min-w-24 max-w-24">
        <a mat-icon-button [routerLink]="[row.id]" [matTooltip]="'GENERAL.OPEN' | transloco">
          <mat-icon class="s-4">launch</mat-icon>
        </a>

        <button
          mat-icon-button
          data-cy="collection-item-menu"
          [matMenuTriggerFor]="menu"
          [matTooltip]="'GENERAL.MENU' | transloco"
          aria-label="Menu"
          [disabled]="row.is_integration"
        >
          <mat-icon class="s-6">more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item data-test="collection-item-menu-remove" (click)="deleteEvent.emit(row.id)">
            <mat-icon class="s-6 mr-2.5">delete</mat-icon>
            <span>{{ 'GENERAL.DELETE' | transloco }}</span>
          </button>
          <button mat-menu-item (click)="editEvent.emit(row)">
            <mat-icon class="s-6 mr-2.5">edit</mat-icon>
            <span>{{ 'GENERAL.EDIT' | transloco }}</span>
          </button>
        </mat-menu>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>

  @if (showSkeleton()) {
    <div class="w-full h-full grow">
      <ngx-skeleton-loader count="3" animation="pulse" [theme]="itemsLoaderTheme"></ngx-skeleton-loader>
    </div>
  }

  @if (emptyState()) {
    <div class="h-full flex flex-col justify-center items-center text-sm grow">
      <span>{{ 'GROUPS.TABLE.EMPTY' | transloco }}</span>
    </div>
  }
</div>
