<span class="text-lg" mat-dialog-title>
  {{ 'CATEGORY.DIALOG.' + (!data ? 'CREATE_TITLE' : 'EDIT_TITLE') | transloco }}
</span>
<div mat-dialog-content class="pt-2">
  <form [formGroup]="form">
    <mat-form-field class="w-full" appearance="outline" hintLabel="{{ 'CATEGORY.DIALOG.HINT' | transloco }}">
      <mat-label>
        {{ 'GENERAL.NAME' | transloco }}
      </mat-label>
      <input maxlength="200" data-test="category-dialog-name-input" matInput formControlName="name" />
      <mat-error>{{ 'GENERAL.REQUIRED_FIELD' | transloco }}</mat-error>
    </mat-form-field>

    <mat-form-field class="w-full mt-2.5" appearance="outline" subscriptSizing="dynamic">
      <mat-label>
        {{ 'CATEGORY.DIALOG.ICONS' | transloco }}
      </mat-label>

      <mat-select formControlName="image" panelClass="category-select-image">
        <mat-select-trigger>
          <div class="flex items-center">
            <mat-icon [svgIcon]="image" class="s-6 mr-5"></mat-icon>
            {{ 'CATEGORY.DIALOG.SELECTED.ICONS' | transloco }}
          </div>
        </mat-select-trigger>
        @for (category of categories; track category; let i = $index) {
          <mat-option [value]="category">
            <mat-icon [svgIcon]="category" class="s-9 m-0"></mat-icon>
          </mat-option>
        }
      </mat-select>
      <mat-error>{{ 'CATEGORY.DIALOG.INFO' | transloco }}</mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="flex justify-end">
  <button mat-stroked-button mat-dialog-close>
    {{ 'GENERAL.CANCEL' | transloco }}
  </button>
  <button
    mat-flat-button
    data-test="category-dialog-ok-button"
    color="primary"
    (click)="onClick()"
    [disabled]="!form.valid || form.pristine"
  >
    {{ 'GENERAL.OK' | transloco }}
  </button>
</div>
