<div class="px-6 pt-6">
  <mat-card class="h-20 w-full mb-4 flex-row items-center justify-between" appearance="outlined">
    <h1 class="text-2xl text-left md:text-left">{{ 'COURSE.OVERVIEW.TITLE' | transloco }}</h1>
    <kp-analytics-chart-filter (filter)="onFilterChart($event)"></kp-analytics-chart-filter>
  </mat-card>

  <section class="course-widgets mb-6">
    <div class="mb-4 flex flex-col md:flex-row gap-4">
      <!-- Total Courses -->
      <mat-card
        appearance="outlined"
        class="p-4 course-funnel-chart-widget bg-primary text-on-primary flex flex-col justify-between items-center w-full md:w-1/5"
        *kpVar="courseTotals$ | async as total"
      >
        @if (total.isLoading) {
          <kp-loading-progress-shade></kp-loading-progress-shade>
        }
        <span class="text-3xl text-center" [innerHTML]="'COURSE.OVERVIEW.WIDGETS.TOTAL.TITLE' | transloco"></span>
        <span class="text-[100px] font-bold">{{ total.response }}</span>
      </mat-card>
      <!-- / Total Courses -->

      <!-- Funnel Chart -->
      <mat-card
        appearance="outlined"
        class="p-4 course-funnel-chart-widget w-full"
        *kpVar="coursesResume$ | async as result"
      >
        @if (result.isLoading) {
          <kp-loading-progress-shade></kp-loading-progress-shade>
        }

        <kp-analytics-funnel-chart [data]="result.response"></kp-analytics-funnel-chart>
      </mat-card>
      <!-- / Funnel Chart -->
    </div>

    <div class="mb-4 flex flex-col sm:flex-row gap-4">
      <!-- Courses Rating -->
      <mat-card appearance="outlined" class="p-4 flex-1 flex flex-col" *kpVar="coursesRating$ | async as result">
        <h2 class="text-xl">{{ 'COURSE.OVERVIEW.WIDGETS.RATING.TITLE' | transloco }}</h2>
        <span class="text-4xl mb-2 font-bold" [attr.data-raw]="result.response">{{
          result.response | number: '1.1-1'
        }}</span>
        <div>{{ 'COURSE.OVERVIEW.WIDGETS.RATING.SUB_TITLE' | transloco }}</div>
        @if (result.isLoading) {
          <kp-loading-progress-shade></kp-loading-progress-shade>
        }
      </mat-card>
      <!-- / Courses Rating -->

      <!-- Content Available -->
      <mat-card
        appearance="outlined"
        class="p-4 flex-1 flex flex-col"
        *kpVar="coursesContentAvailable$ | async as result"
      >
        <h2 class="text-xl">{{ 'COURSE.OVERVIEW.WIDGETS.AVAILABLE.TITLE' | transloco }}</h2>
        <span class="text-4xl mb-2 font-bold">{{ result.response | kpNumberToTime: 's' }}</span>
        <div>{{ 'COURSE.OVERVIEW.WIDGETS.AVAILABLE.SUB_TITLE' | transloco }}</div>
        @if (result.isLoading) {
          <kp-loading-progress-shade></kp-loading-progress-shade>
        }
      </mat-card>
      <!-- / Content Available -->

      <!-- Content Consumed -->
      <mat-card
        appearance="outlined"
        class="p-4 flex-1 flex flex-col"
        *kpVar="coursesContentConsumed$ | async as result"
      >
        <h2 class="text-xl">{{ 'COURSE.OVERVIEW.WIDGETS.CONSUMED.TITLE' | transloco }}</h2>
        <span class="text-4xl mb-2 font-bold">{{ result.response | kpNumberToTime: 's' }}</span>
        <div>{{ 'COURSE.OVERVIEW.WIDGETS.CONSUMED.SUB_TITLE' | transloco }}</div>
        @if (result.isLoading) {
          <kp-loading-progress-shade></kp-loading-progress-shade>
        }
      </mat-card>
      <!-- / Content Consumed -->

      <!-- Completed Ratio -->
      <mat-card
        appearance="outlined"
        class="p-4 flex flex-1 flex-col md:flex-row place-content-around items-center"
        *kpVar="coursesCompletedRatio$ | async as ratio"
      >
        <h2 class="font-bold text-xl">{{ 'COURSE.OVERVIEW.WIDGETS.RATIO.TITLE' | transloco }}</h2>
        <div class="analytics-progress-ring">
          <kp-progress-circle [value]="ratio.response * 100"></kp-progress-circle>
        </div>
        @if (ratio.isLoading) {
          <kp-loading-progress-shade></kp-loading-progress-shade>
        }
      </mat-card>
      <!-- / Completed Ratio -->
    </div>

    <div class="flex flex-col md:flex-row gap-4">
      <!-- Content Types -->
      <mat-card appearance="outlined" class="p-4 flex-1" *kpVar="coursesContentTypes$ | async as result">
        <h2 class="text-xl mt-5 mb-10">
          {{ 'COURSE.OVERVIEW.WIDGETS.CONTENTS.TITLE' | transloco }}
        </h2>

        @if (result.isLoading) {
          <kp-loading-progress-shade></kp-loading-progress-shade>
        }
        <kp-analytics-donut-chart [data]="result.response"></kp-analytics-donut-chart>
      </mat-card>
      <!-- / Content Types -->

      <!-- Top5 Chart -->
      <mat-card appearance="outlined" class="p-4 flex-1" *kpVar="top5CourseCategories$ | async as result">
        <div class="mb-10 flex justify-between items-center">
          <h2 class="text-xl mt-5">{{ 'COURSE.OVERVIEW.WIDGETS.TOP5.TITLE' | transloco }}</h2>
        </div>

        @if (result.isLoading) {
          <kp-loading-progress-shade></kp-loading-progress-shade>
        }
        <app-course-top-five-chart [data]="result.response"></app-course-top-five-chart>
      </mat-card>
      <!-- / Top5 Chart -->
    </div>
  </section>
</div>

<h2 class="text-2xl font-semibold text-center sm:text-left mx-6 mb-4">
  {{ 'COURSE.OVERVIEW.DATATABLE.TITLE' | transloco }}
</h2>

<ng-container *kpVar="courses$ | async as courses">
  <kp-table-layout
    [totalItems]="courses?.response?.total || 0"
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    (pageChange)="onPaging($event)"
    (searchChange)="applyFilter($event)"
  >
    <kp-export-menu kpTableFilterAfter (export)="onDatatableExport($event)"></kp-export-menu>

    <div kpTable class="table-container">
      @if (courses?.isLoading) {
        <div class="grow">
          <ngx-skeleton-loader count="3" animation="pulse" [theme]="itemsLoaderTheme"></ngx-skeleton-loader>
        </div>
      }

      @if (!courses?.isLoading && !courses?.response?.data?.length) {
        <div class="grow flex items-center justify-center text-sm">
          {{ 'GENERAL.EMPTY_LIST_MESSAGE' | transloco }}
        </div>
      }

      <table
        mat-table
        aria-label="Course Overview Table"
        id="coursesOverviewTable"
        [hidden]="courses?.isLoading || !courses?.response?.data?.length"
        [dataSource]="courses?.response?.data"
        matSort
        matSortActive="name.sortable"
        matSortDirection="asc"
        (matSortChange)="onSort()"
        class="w-full kp-card-table"
      >
        <!-- Column Name -->
        <ng-container matColumnDef="name.sortable">
          <th mat-header-cell *matHeaderCellDef mat-sort-header start="asc" class="pl-4">
            {{ 'COURSE.OVERVIEW.DATATABLE.COLUMN.NAME' | transloco }}
          </th>
          <td mat-cell *matCellDef="let row" class="pl-4">
            <div class="break-words line-clamp-3" [matTooltip]="row._source.name">
              {{ row._source.name }}
            </div>
          </td>
        </ng-container>

        <!-- Column Category -->
        <ng-container matColumnDef="course_category.name.sortable">
          <th mat-header-cell *matHeaderCellDef mat-sort-header start="asc" class="max-w-[250px] hidden sm:flex">
            {{ 'COURSE.OVERVIEW.DATATABLE.COLUMN.CATEGORY' | transloco }}
          </th>
          <td mat-cell *matCellDef="let row" class="max-w-[250px] hidden sm:flex">
            <div
              class="break-words line-clamp-3"
              [matTooltip]="'CATEGORY.' + row._source.course_category.name | transloco | kpReplace: 'CATEGORY.'"
            >
              {{ 'CATEGORY.' + row._source.course_category.name | transloco | kpReplace: 'CATEGORY.' }}
            </div>
          </td>
        </ng-container>

        <!-- Column Enrollment -->
        <ng-container matColumnDef="stats.enrollment.total">
          <th mat-header-cell *matHeaderCellDef class="max-w-[110px] hidden md:flex">
            {{ 'COURSE.OVERVIEW.DATATABLE.COLUMN.ENROLLMENT' | transloco }}
          </th>
          <td mat-cell *matCellDef="let row" class="max-w-[110px] hidden md:flex">
            {{ row.stats.enrollments.total || 0 | number: '1.0-0' }}
          </td>
        </ng-container>

        <!-- Column Enrollment Completed -->
        <ng-container matColumnDef="stats.enrollment.completed">
          <th mat-header-cell *matHeaderCellDef class="max-w-[150px] hidden md:flex">
            {{ 'COURSE.OVERVIEW.DATATABLE.COLUMN.ENROLLMENT_COMPLETED' | transloco }}
          </th>
          <td mat-cell *matCellDef="let row" class="max-w-[150px] hidden md:flex">
            {{ row.stats.enrollments.completed || 0 | number: '1.0-0' }}
          </td>
        </ng-container>

        <!-- Column Enrollment Completed Ratio-->
        <ng-container matColumnDef="stats.enrollment.completed_ratio">
          <th mat-header-cell *matHeaderCellDef class="max-w-[120px] hidden md:flex">
            {{ 'COURSE.OVERVIEW.DATATABLE.COLUMN.ENROLLMENT_RATIO' | transloco }}
          </th>
          <td mat-cell *matCellDef="let row" class="max-w-[120px] hidden md:flex items-center">
            {{ row.stats.enrollments.completed_ratio | kpPerformance: '%' }}
          </td>
        </ng-container>

        <!-- Column Rating -->
        <ng-container matColumnDef="stats.rating.average">
          <th mat-header-cell *matHeaderCellDef class="max-w-[90px] hidden md:flex">
            {{ 'COURSE.OVERVIEW.DATATABLE.COLUMN.RATING' | transloco }}
          </th>
          <td mat-cell *matCellDef="let row" class="max-w-[90px] hidden md:flex">
            {{ row.stats.ratings.average || 0 | number: '1.1-1' }}
          </td>
        </ng-container>

        <!-- Buttons -->
        <ng-container matColumnDef="buttons">
          <th mat-header-cell *matHeaderCellDef class="max-w-[70px] justify-center pr-4">
            {{ 'GENERAL.MENU' | transloco }}
          </th>
          <td mat-cell *matCellDef="let row" class="max-w-[70px] justify-center pr-4">
            <button mat-icon-button routerLink="/course/{{ row._id }}">
              <mat-icon class="s-4">open_in_new</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </kp-table-layout>
</ng-container>
