@if (viewMode() === 'select') {
  <mat-dialog-content class="flex flex-col gap-3 w-96">
    <span class="text-sm">{{ 'EVENT_MANAGEMENT.IMPORT_LIST.SELECT_DATE' | transloco }}</span>

    <mat-form-field appearance="outline" subscriptSizing="dynamic">
      <mat-select [(ngModel)]="selectedDate" [disabled]="loading()">
        <mat-select-trigger class="text-sm">
          {{ selectedDate() | dateRange | titlecase }}
        </mat-select-trigger>
        @for (date of dates(); track date.id) {
          <mat-option [value]="date">
            {{ date | dateRange | titlecase }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <span class="text-sm">{{ 'EVENT_MANAGEMENT.IMPORT_LIST.SELECT_IMPORT_SOURCE' | transloco }}</span>

    <mat-list>
      @for (item of importSourceItems(); track item.name) {
        <mat-list-item
          (click)="!loading() && !item.disabled && fileInput.click()"
          [disabled]="item.disabled || loading()"
          [ngClass]="{ 'cursor-pointer': !item.disabled && !loading() }"
        >
          <div matListItemIcon class="w-12 h-12 mr-1.5 ml-2 bg-{{ item.icon }}"></div>
          <span matListItemTitle class="text-sm">
            {{ item.name }}
            @if (item.disabled) {
              ({{ 'MISSION.ATTENDANCE_LIST.SOON' | transloco }})
            }
          </span>
        </mat-list-item>
      }
    </mat-list>
  </mat-dialog-content>
} @else {
  <mat-divider></mat-divider>

  <div class="h-[60vh] flex flex-col px-6">
    @switch (viewMode()) {
      @case ('import-error') {
        <div class="m-auto text-sm w-1/2">
          {{ 'MISSION.ATTENDANCE_LIST.IMPORT_LIST_ERROR' | transloco }}
        </div>
      }
      @case ('import-success') {
        <div class="m-auto text-sm flex flex-col justify-center items-center">
          <span>{{ 'MISSION.ATTENDANCE_LIST.IMPORT_LIST_SUCCESS_TITLE' | transloco }}</span>
          <span>{{ 'MISSION.ATTENDANCE_LIST.IMPORT_LIST_SUCCESS_SUBTITLE' | transloco }}</span>
          <div class="mt-5 flex gap-3">
            <div class="flex gap-1 items-center">
              <mat-icon class="s-7">person</mat-icon>
              <span>{{ 'MISSION.ATTENDANCE_LIST.USERS_ENROLLED' | kpPluralizeTranslate: { value: enrolled } }}</span>
            </div>

            <div class="flex gap-1 items-center">
              <mat-icon class="s-7">person</mat-icon>
              <span>{{
                'MISSION.ATTENDANCE_LIST.USERS_REGISTERED' | kpPluralizeTranslate: { value: registered }
              }}</span>
            </div>

            <div class="flex gap-1 items-center">
              <mat-icon class="s-7">person</mat-icon>
              <span>{{
                'MISSION.ATTENDANCE_LIST.USERS_NOT_REGISTERED' | kpPluralizeTranslate: { value: not_registered }
              }}</span>
            </div>
          </div>
        </div>
      }
      @case ('import-confirmation') {
        <div class="px-3 py-6 text-sm flex flex-col justify-center items-center">
          <span>{{ 'MISSION.ATTENDANCE_LIST.IMPORT_LIST_CONFIRMATION_TITLE' | transloco }}</span>
          <span>{{ 'MISSION.ATTENDANCE_LIST.IMPORT_LIST_CONFIRMATION_SUBTITLE' | transloco }}</span>
        </div>

        <mat-table [dataSource]="importDataSource()" class="overflow-y-auto">
          <!-- NAME -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>{{ 'GENERAL.NAME' | transloco }}</mat-header-cell>
            <mat-cell mat-cell *matCellDef="let item">
              <span class="line-clamp-3">{{ item.name }}</span>
            </mat-cell>
          </ng-container>
          <!-- / NAME -->

          <!-- EMAIL -->
          <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef>{{
              'MISSION.ATTENDANCE_LIST.CONFIRMATION.EMAIL' | transloco
            }}</mat-header-cell>
            <mat-cell mat-cell *matCellDef="let item">
              <span class="line-clamp-3">{{ item.email }}</span>
            </mat-cell>
          </ng-container>
          <!-- / EMAIL -->

          <!-- STATUS -->
          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef>{{ 'GENERAL.STATUS' | transloco }}</mat-header-cell>
            <mat-cell mat-cell *matCellDef="let item">
              <span class="line-clamp-3">{{
                'MISSION.ATTENDANCE_LIST.USERS_IMPORT_STATUS_COLUMN.' + item.status | transloco
              }}</span>
            </mat-cell>
          </ng-container>
          <!-- / STATUS -->

          <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns" class="h-22"></mat-row>
        </mat-table>
      }
    }
  </div>
}

<input hidden type="file" accept=".csv" #fileInput (change)="onFileChange()" />
