<div class="flex gap-2 h-20 border-t border-b border-default items-center">
  <kp-global-search-input class="grow" (filterEvent)="onFilter($event)"></kp-global-search-input>
  <div class="flex gap-2 mr-2 items-center">
    <button matButton (click)="fileInput.click()">
      <mat-icon>upload</mat-icon>
      {{ 'BATCH_ENROLLMENT.SELECT_VIA_IMPORT' | transloco }}
    </button>
    <a
      matIconButton
      [href]="MODEL_SPREADSHEET_LINK"
      [matTooltip]="'BATCH_ENROLLMENT.DOWNLOAD_TEMPLATE_SPREADSHEET' | transloco"
      ><mat-icon>download</mat-icon></a
    >
  </div>
</div>
<kp-vinculate-list
  [columns]="columns"
  [items]="users"
  [selectable]="true"
  [selection]="selection"
  [loading]="loading"
  [avatarKey]="'avatar'"
  [selectionLabel]="'BATCH_ENROLLMENT.SELECTION_LABEL' | kpPluralizeTranslate: { value: selectionSize }"
  (selectAllChange)="onToggleSelectAll($event)"
  (itemSelectionChange)="onToggleSelection($event.item.id)"
  (scrolled)="onScroll()"
  scrollContainerHeight="calc(65vh - 90px)"
></kp-vinculate-list>

<input hidden type="file" accept=".xlsx" id="input-file-upload" #fileInput (change)="fileChange(fileInput)" />
