@if (loading) {
  <ng-template #loader>
    <div class="flex flex-col">
      <ngx-skeleton-loader [theme]="fullLineLoaderTheme"></ngx-skeleton-loader>
      <ngx-skeleton-loader [theme]="halfLineLoaderTheme"></ngx-skeleton-loader>
    </div>
  </ng-template>
} @else {
  <div class="summary">
    <!-- HEADER -->
    @if (mission?.development_status !== developmentStatus.PROCESSING && mission?.is_owner) {
      <div class="summary-header flex justify-end items-center">
        <button
          mat-icon-button
          aria-label="Edit summary"
          [matTooltip]="'GENERAL.EDIT' | transloco"
          id="button-mission-detail-open-dialog"
          (click)="openDialog()"
        >
          <mat-icon class="s-4">edit</mat-icon>
        </button>
      </div>
    }
    <div
      class="rounded-md ck-editor"
      [innerHTML]="(mission?.summary | kpLinebreak) || ('MISSION.DETAIL.MISSION_RESUME_DEFINED' | transloco)"
    ></div>
  </div>
}
