<div class="page-layout blank px-4 py-4" fuseScrollbar>
  <div class="dashboard-main-container dashboard-card border border-default w-full max-w-full p-4">
    <div class="flex justify-between items-center filter pb-10">
      <div class="filter-period">
        <h3 class="mb-2 mt-0">{{ 'DASHBOARD.FILTER.PERIOD_TITLE' | transloco }}</h3>
        <kp-button-filter-group
          [ranges]="ragesPeriod"
          [selectedRange]="selectedPeriod"
          (clickEvent)="onChangePeriod($event)"
        ></kp-button-filter-group>
      </div>
      <div class="filter-dimension">
        <h3 class="mb-2 mt-0">{{ 'DASHBOARD.FILTER.DIMENSION_TITLE' | transloco }}</h3>
        <kp-button-filter-group
          [ranges]="ragesDimension"
          [selectedRange]="selectedChartType"
          (clickEvent)="onChangeChartType($event)"
        ></kp-button-filter-group>
      </div>
    </div>
    <!-- Main Chart -->
    <kp-chart-overview [data]="chartData" [period]="selectedPeriod"></kp-chart-overview>
    <!-- / Main Chart -->
    <div class="flex flex-row flex-wrap justify-center items-center md:flex-nowrap md:gap-4">
      <div class="py-4 w-full md:w-2/6 mr-3">
        <kp-slide-filter-range [type]="selectedPeriod" (slideChanged)="onChangeSlideFilter($event)">
        </kp-slide-filter-range>
      </div>
      <div class="w-full flex flex-col sm:flex-row sm:flex-nowrap gap-4">
        <kp-chart-overview-card
          class="w-full md:w-2/6 md:mb-0"
          [title]="widget1?.title"
          [subtitle]="widget1?.subtitle"
          [value]="widget1?.value"
          [target]="widget1?.target"
        >
        </kp-chart-overview-card>

        <kp-chart-overview-card
          class="w-full md:w-2/6 md:mb-0"
          [title]="widget2?.title"
          [subtitle]="widget2?.subtitle"
          [value]="widget2?.value"
          [target]="widget2?.target"
        >
        </kp-chart-overview-card>

        <kp-chart-overview-card
          class="w-full md:w-2/6 md:mb-0"
          [title]="widget3?.title"
          [subtitle]="widget3?.subtitle"
          [value]="widget3?.value"
          [target]="widget3?.target"
        >
        </kp-chart-overview-card>
      </div>
    </div>
    @if (loading$ | async) {
      <kp-loading-progress-shade></kp-loading-progress-shade>
    }
  </div>
</div>
