<section class="comments">
  @if (pulse().comments_count > 0) {
    @if (!showAllComments()) {
      <a class="see-all" (click)="showComments()">
        {{ 'PULSES_FEED.PULSE_CARD.SEE_ALL_COMMENTS' | kpPluralizeTranslate: { value: pulse().comments_count } }}
      </a>
    } @else {
      <p class="comments-title">{{ 'PULSES_FEED.PULSE_CARD.COMMENTS_TITLE' | transloco }}</p>

      <div class="comments-list">
        @for (comment of commentsWithTime(); track comment.id) {
          <div class="comment-item">
            <img
              class="avatar"
              [src]="comment.avatar || defaultUserAvatar"
              [alt]="comment.name"
              width="32"
              height="32"
            />
            <div class="flex flex-col gap-1" [class.w-full]="editingCommentId() === comment.id">
              <div class="bubble">
                <div class="bubble-header">
                  <strong class="comment-name">{{ comment.name }}</strong>
                  @if (hasCommentMenu(comment)) {
                    <mat-icon class="comment-menu-btn" [matMenuTriggerFor]="commentMenu">more_horiz</mat-icon>
                    <mat-menu #commentMenu="matMenu">
                      @if (canEditComment(comment)) {
                        <button mat-menu-item (click)="startEdit(comment)">
                          {{ 'PULSES_FEED.PULSE_CARD.COMMENT_MENU.EDIT' | transloco }}
                        </button>
                      }
                      @if (canDeleteComment(comment)) {
                        <button mat-menu-item (click)="openDeleteDialog(comment)">
                          {{ 'PULSES_FEED.PULSE_CARD.COMMENT_MENU.DELETE' | transloco }}
                        </button>
                      }
                    </mat-menu>
                  }
                </div>
                @if (editingCommentId() === comment.id) {
                  <app-comment-edit-inline
                    [(text)]="editingText"
                    (editCancel)="cancelEdit()"
                    (confirm)="confirmEdit(comment)"
                  />
                } @else {
                  <p class="comment-text" [innerHTML]="comment.comment"></p>
                }
              </div>
              <span class="comment-time">{{ comment.relativeTime }}</span>
            </div>
          </div>
        }
      </div>
    }
  }

  <div class="input-wrapper">
    <textarea
      class="comment-input"
      rows="1"
      [placeholder]="'PULSES_FEED.PULSE_CARD.ADD_COMMENT_PLACEHOLDER' | transloco"
      [(ngModel)]="commentText"
    ></textarea>
    <div class="input-actions">
      <div class="flex items-center">
        <button mat-icon-button class="emoji-btn" type="button" [matMenuTriggerFor]="emojiMenu">
          <mat-icon>sentiment_satisfied</mat-icon>
        </button>
        @if (canPublish()) {
          <button mat-button class="publish-btn" type="button" (click)="publish()">
            {{ 'PULSES_FEED.PULSE_CARD.PUBLISH_BUTTON' | transloco }}
          </button>
        }
      </div>

      <span class="char-counter" [class.over-limit]="isOverLimit()">{{ charCount() }}/{{ maxChars }}</span>
    </div>
  </div>
</section>

<mat-menu #emojiMenu="matMenu" class="max-w-96">
  <ng-template matMenuContent>
    <div #emojiPickerContainer (click)="$event.stopPropagation()"></div>
  </ng-template>
</mat-menu>
