<form [formGroup]="externalFormGroup" class="flex flex-col gap-2" (ngSubmit)="onSubmit()">
  <app-mission-mission-form-header
    class="w-full mb-4"
    [title]="'MISSION.CREATE.NAVIGATION.TITLE.EXTERNAL' | transloco"
    [label]="'MISSION.CREATE.NAVIGATION.SUBTITLE.FILL_ALL_FIELDS' | transloco"
    [nextDisabled]="externalFormGroup?.invalid"
    (previous)="onPrevious()"
  ></app-mission-mission-form-header>

  <mat-form-field appearance="outline" class="flex-auto">
    <mat-label>
      {{ 'MISSION.CREATE.EXTERNAL.PROVIDER' | transloco }}
    </mat-label>
    <input
      matInput
      formControlName="provider"
      data-test="provider-input"
      [placeholder]="'GENERAL.SEARCH' | transloco"
      [matAutocomplete]="providerAc"
    />
    <mat-autocomplete #providerAc [displayWith]="providerDisplay">
      @for (provider of providers; track provider) {
        <mat-option [value]="provider">
          <div class="flex flex-row gap-4 items-center">
            @if (provider.icon) {
              <img [src]="provider.icon" class="h-10 w-24" alt="Provider icon" />
            } @else {
              <div class="flex justify-center w-24 text-secondary">
                <mat-icon class="mx-0">apartment</mat-icon>
              </div>
            }
            <span class="text-ellipsis overflow-hidden secondary-text"> {{ provider.name }}</span>
          </div>
        </mat-option>
      }
    </mat-autocomplete>
    <mat-error>{{ 'MISSION.CREATE.EXTERNAL.ERROR.PROVIDER' | transloco }}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>
      {{ 'MISSION.CREATE.EXTERNAL.LINK' | transloco }}
    </mat-label>
    <input matInput formControlName="external_course_url" />
    <mat-error>{{ 'MISSION.CREATE.EXTERNAL.ERROR.LINK' | transloco }}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>
      {{ 'MISSION.CREATE.EXTERNAL.DURATION' | transloco }}
    </mat-label>
    <input type="text" matInput formControlName="duration_time" data-hide-seconds kpDurationMask />
    @if (externalFormGroup.hasError('required', 'duration_time')) {
      <mat-error>
        {{ 'MISSION.CREATE.EXTERNAL.ERROR.DURATION' | transloco }}
      </mat-error>
    }
    <mat-hint>HH:mm</mat-hint>
  </mat-form-field>
</form>
