@if (vm()?.pulsesLoading) {
  <ngx-skeleton-loader count="3" animation="pulse" [theme]="itemsLoaderTheme"></ngx-skeleton-loader>
} @else if (!vm()?.pulses?.length) {
  <div class="h-full flex flex-col justify-center items-center text-sm">
    <span>{{ 'CHANNEL_PULSES_MANAGEMENT.EMPTY_STATE.TITLE' | transloco }}</span>
  </div>
} @else {
  <mat-table [dataSource]="vm()?.pulses">
    <ng-container matColumnDef="icon">
      <mat-header-cell *matHeaderCellDef class="min-w-16 max-w-16"> </mat-header-cell>
      <mat-cell *matCellDef="let element" class="min-w-16 max-w-16">
        <mat-icon class="opacity-70" [svgIcon]="'pulse'"></mat-icon>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name" [sticky]="true">
      <mat-header-cell *matHeaderCellDef class="min-w-52 border-r fixed-column-right-border">
        {{ 'CHANNEL_PULSES_MANAGEMENT.COLUMNS.NAME' | transloco }}
      </mat-header-cell>
      <mat-cell *matCellDef="let element" class="min-w-52 fixed-column-right-border">
        <span class="[word-break:break-word] line-clamp-2">{{ element.name }}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="pulse_type">
      <mat-header-cell *matHeaderCellDef class="min-w-40 max-w-40">
        {{ 'CHANNEL_PULSES_MANAGEMENT.COLUMNS.TYPE' | transloco }}
      </mat-header-cell>
      <mat-cell *matCellDef="let element" class="min-w-40 max-w-40">
        {{ element.pulse_type?.name }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="creator_name">
      <mat-header-cell *matHeaderCellDef class="min-w-36">
        {{ 'CHANNEL_PULSES_MANAGEMENT.COLUMNS.AUTHOR' | transloco }}
      </mat-header-cell>
      <mat-cell *matCellDef="let element" class="min-w-36">
        <span class="[word-break:break-word] line-clamp-2"> {{ element.creator_name }}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="published_date">
      <mat-header-cell *matHeaderCellDef class="min-w-28 max-w-28">
        {{ 'CHANNEL_PULSES_MANAGEMENT.COLUMNS.PUBLISHED_DATE' | transloco }}
      </mat-header-cell>
      <mat-cell *matCellDef="let element" class="min-w-28 max-w-28">
        {{ element.created_date | date: 'shortDate' }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="menu">
      <mat-header-cell *matHeaderCellDef class="min-w-20 max-w-20 justify-end">
        {{ 'CHANNEL_PULSES_MANAGEMENT.COLUMNS.ACTIONS' | transloco }}
      </mat-header-cell>
      <mat-cell *matCellDef="let element" class="min-w-20 max-w-20 justify-end">
        <button mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onEditPulse(element)">
            <span>{{ 'GENERAL.EDIT' | transloco }}</span>
          </button>
          <button mat-menu-item (click)="onEditContent(element)">
            <span>{{ 'PULSE.EDIT_CONTENT' | transloco }}</span>
          </button>
          <button mat-menu-item (click)="onToggleActivation(element)">
            <span>{{ (element.is_active ? 'PULSE.INACTIVATE' : 'PULSE.ACTIVATE') | transloco }}</span>
          </button>
          <button mat-menu-item (click)="onDeletePulse(element)">
            <span>{{ 'GENERAL.DELETE' | transloco }}</span>
          </button>
        </mat-menu>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
}
