<mat-drawer-container class="blank grow min-h-0" autosize>
  <mat-drawer #drawer class="h-full" mode="side" position="end">
    <app-enrollments-side-menu
      [statistics]="statistics()"
      [billing]="billing()"
      (closeMenu)="drawer.toggle()"
    ></app-enrollments-side-menu>
  </mat-drawer>

  <div class="h-full flex flex-col">
    <div class="h-32 flex items-center pl-8 pr-4">
      <span class="text-2xl">{{ 'NAVIGATION.ENROLLMENTS' | transloco }}</span>
      <div class="ml-auto flex items-center gap-2">
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon svgIcon="analytics" class="s-6 text-primary"></mat-icon>
        </button>
      </div>
    </div>

    <kp-table-layout
      class="grow min-h-0"
      [totalItems]="pagination()?.count || 0"
      [pageIndex]="(pagination()?.page || 1) - 1"
      [pageSize]="pagination()?.per_page || 10"
      [searchPlaceholder]="'SETTINGS.ENROLLMENTS.FILTER.SEARCH_LABEL'"
      (pageChange)="onPageChanged($event)"
      (searchChange)="onSearch($event)"
    >
      <app-settings-enrollments-filter
        kpTableFilterAfter
        [filters]="filters()"
        (filterEvent)="onFilter($event)"
      ></app-settings-enrollments-filter>

      <app-settings-enrollments-list
        kpTable
        [datasource]="enrollments() || []"
        [loading]="isLoading()"
        (sortChanged)="onSortChanged($event)"
        (deleteEnrollment)="onDeleteEnrollment($event)"
        (cancelEnrollment)="onCancelEnrollment($event)"
        (reenroll)="onReenroll($event)"
        (openActivities)="onOpenActivities($event)"
      ></app-settings-enrollments-list>
    </kp-table-layout>
  </div>
</mat-drawer-container>
