@let loading = isLoading();
@if ({ isMobile: isMobile$ | async }; as data) {
  <app-mission-detail-header
    mat-dialog-title
    class="w-full"
    [ngClass]="{ 'h-[300px]': !data.isMobile, 'h-[200px]': data.isMobile }"
    [mission]="mission$ | async"
    [loading]="loading"
    [missionTags]="missionTags$ | async"
    (closeClick)="closeDialog()"
  ></app-mission-detail-header>
  <kp-resume [loading]="loading" [items]="resumeItems$ | async" [progress]="missionProgress$ | async"></kp-resume>
  <div mat-dialog-content class="text-default flex flex-col gap-4">
    <div class="flex justify-between items-start">
      <kp-title [loading]="loading" [title]="titleInfo$ | async"></kp-title>
      @if (!data.isMobile) {
        <div class="flex gap-2">
          <kp-action-menu
            [actions]="missionActions$ | async"
            (actionClick)="executeAction($event)"
            [disabled]="actionInProgress$ | async"
          ></kp-action-menu>
        </div>
      }
    </div>

    @if (mission$ | async; as mission) {
      <kp-description
        class="pt-3 xxs:pt-0"
        [description]="mission.summary"
        [canEdit]="canEditDescription$ | async"
        (update)="updateMissionSummary($event)"
      ></kp-description>

      @if (!data.isMobile) {
        <app-mission-detail-tags
          (addTag)="onAddTag($event)"
          (removeTag)="onRemoveTag($event)"
          [isEnabled]="canEditTags$ | async"
          [tags]="mission.tags"
          [loading]="loading"
        ></app-mission-detail-tags>
      }
    }
    @if (data.isMobile) {
      <kp-action-menu
        [actions]="missionActions$ | async"
        [isMobile]="data.isMobile"
        (actionClick)="executeAction($event)"
        [disabled]="actionInProgress$ | async"
      ></kp-action-menu>
    }
  </div>
}
