@if (url) {
  <div class="kp-pdf-viewer">
    <ngx-extended-pdf-viewer
      [src]="url"
      [showSidebarButton]="false"
      [showFindButton]="false"
      [showPagingButtons]="false"
      [showZoomButtons]="true"
      [showPresentationModeButton]="(isMobile$ | async) === false"
      [showOpenFileButton]="false"
      [showPrintButton]="false"
      [showDownloadButton]="false"
      [showBookModeButton]="false"
      [showRotateButton]="false"
      [showHandToolButton]="false"
      [showScrollingButton]="false"
      [showSpreadButton]="false"
      [showPropertiesButton]="false"
      [language]="language"
      [showSecondaryToolbarButton]="false"
      [showHighlightEditor]="false"
      [showDrawEditor]="false"
      [showTextEditor]="false"
      [showStampEditor]="false"
    ></ngx-extended-pdf-viewer>
  </div>
}

@if (!url) {
  <div class="p-20 text-center">{{ 'PDF.VIEWER.WAIT' | transloco }}...</div>
}
