<div class="flex flex-col">
  <span data-test="section-title" class="text-lg -mb-1.5 [word-break:break-word] font-bold">{{
    section()?.title
  }}</span>
  <div class="flex items-center justify-between mb-2 h-10">
    <span data-test="section-description" class="[word-break:break-word]">{{ section()?.description }}</span>

    @if (!emptyState()) {
      <div class="flex items-center gap-1.5">
        <button
          data-test="button-all-contents"
          mat-button
          color="primary"
          routerLink="/learn-contents/{{ section()?.id }}"
        >
          <span class="text-primary">{{ 'HOME.SEE_ALL_BUTTON' | transloco }}</span>
        </button>
        <button mat-icon-button class="hidden xxs:flex" (click)="prev()">
          <mat-icon>chevron_left</mat-icon>
        </button>
        <button mat-icon-button class="hidden xxs:flex" (click)="next()">
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>
    }
  </div>

  @if (emptyState()) {
    <div class="empty-state-container">
      <mat-icon class="icon">{{ emptyState()?.icon }}</mat-icon>
      <div class="text-base text-center font-bold">{{ emptyState()?.title | transloco }}</div>
      <div class="text-sm text-center">{{ emptyState()?.description | transloco }}</div>
    </div>
  } @else {
    <owl-carousel-o [options]="customOptions" (dragging)="onDrag($event.dragging)">
      @for (slide of section()?.contents; track slide.contentId) {
        <ng-template carouselSlide [width]="carouselItemWidth()" [id]="slide.contentId">
          <kp-learn-content-card
            class="shrink-0"
            [learnContent]="slide"
            [actions]="slide.actions"
            [orientation]="cardOrientation()"
            (cardAction)="onCardAction($event, slide)"
            (click)="onCardAction('details', slide)"
          ></kp-learn-content-card>
        </ng-template>
      }
    </owl-carousel-o>
  }
</div>
