<form [formGroup]="form" class="flex items-center gap-2">
  <kp-select-menu-trigger [label]="'GENERAL.TAGS' | transloco">
    <mat-icon class="s-6 text-primary">label</mat-icon>
    <mat-select kpSelectTriggerContent multiple formControlName="tags">
      @for (tag of availableTags(); track tag) {
        <mat-option [value]="tag">{{ tag }}</mat-option>
      }
    </mat-select>
  </kp-select-menu-trigger>

  <kp-select-menu-trigger [label]="'GENERAL.STATUS' | transloco">
    <mat-icon class="filled s-1 text-primary">circle</mat-icon>
    <mat-select kpSelectTriggerContent multiple formControlName="synced">
      @for (status of availableSyncStatuses; track status.value) {
        <mat-option [value]="status.value">{{ status.label | transloco }}</mat-option>
      }
    </mat-select>
  </kp-select-menu-trigger>
</form>
