<span class="text-lg" mat-dialog-title>
  {{ 'MISSION.SCORM.UPLOAD_DIALOG.TITLE' | transloco }}
</span>
<div mat-dialog-content class="flex flex-col items-center gap-2">
  <!-- DURATION -->
  <mat-form-field appearance="outline" class="pt-2" floatLabel="always">
    <mat-label data-test="time-duration">
      {{ 'MISSION.CREATE.WORKLOAD' | transloco }}
    </mat-label>
    <input [formControl]="durationFormControl" matInput kpDurationMask />
    <mat-hint>hh:mm</mat-hint>
  </mat-form-field>

  <!-- FILE UPLOAD-->
  <input type="file" accept=".zip" (change)="onSelectFile($event)" hidden #fileInput data-test="upload-scorm" />
  <button mat-flat-button color="primary" class="w-full mb-4" (click)="fileInput.click()">
    {{ 'MISSION.SCORM.UPLOAD_DIALOG.FILE_BUTTON' | transloco }}
  </button>
  <p>
    @if (fileName$ | async; as name) {
      <span>{{ name }}</span>
    } @else {
      {{ 'MISSION.SCORM.UPLOAD_DIALOG.NO_SELECTED_FILE_MESSAGE' | transloco }}
    }
  </p>

  <!-- / FILE UPLOAD-->

  @if (errorMessage$ | async; as error) {
    <div class="message-box error w-full">
      {{ error | transloco }}
    </div>
  }

  @if (processing$ | async) {
    <mat-progress-bar mode="determinate" [value]="progress$ | async"></mat-progress-bar>
  }
</div>

<div mat-dialog-actions class="flex justify-end">
  <button mat-stroked-button mat-dialog-close [disabled]="processing$ | async">
    {{ 'GENERAL.CANCEL' | transloco }}
  </button>
  <button
    mat-flat-button
    color="primary"
    [disabled]="(uploadDisabled$ | async) || durationFormControl.invalid"
    (click)="onImport()"
    id="scorm-upload_import_button"
    data-test="scorm-upload_import_button"
  >
    {{ 'GENERAL.IMPORT' | transloco }}
  </button>
</div>
