<app-mission-mission-form-header
  class="w-full mb-4"
  [title]="title$ | async | transloco"
  [label]="getHeaderSubTitle(tabGroup.selectedIndex) | transloco"
  [nextDisabled]="nextDisabled"
  (next)="next()"
  (previous)="previous()"
></app-mission-mission-form-header>

<mat-tab-group #tabGroup>
  <mat-tab [label]="'MISSION.CREATE.SETTINGS.CONFIG' | transloco">
    <app-live-presential-form
      #presentialLiveForm
      [missionModel]="missionModel$ | async"
      [missionModelInfo]="missionModelInfo$ | async"
      [developmentStatus]="missionDevelopmentStatus$ | async"
    ></app-live-presential-form>
  </mat-tab>
  <mat-tab [label]="'MISSION.CREATE.PRESENTIAL_LIVE.INSTRUCTORS' | transloco">
    <app-mission-autocomplete
      data-test="live-presential-add-instructor"
      [currentItems]="missionInstructors$ | async"
      [autocompleteLabel]="'MISSION.CREATE.PRESENTIAL_LIVE.INSTRUCTORS_LABEL' | transloco"
      [filteredItems]="filteredInstructors$ | async"
      [showCreateButton]="true"
      (filterItems)="filterInstructors($event)"
      (addItem)="addInstructor($event)"
      (removeItem)="removeInstructor($event)"
      (createNewItem)="registerNewInstructor()"
    ></app-mission-autocomplete>
  </mat-tab>
</mat-tab-group>
