#learning-trails {
  .learning-trails-float-button {
    z-index: 4;
    position: fixed;
    bottom: 24px;
    right: 24px;
  }

  .learning-trail-list-container {
    width: 100%;

    div {
      width: 100%;
    }
  }
}
