<div
  id="learning-trails"
  class="flex-1"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="1000"
  [scrollWindow]="true"
  (scrolled)="onScroll()"
>
  <!--recommended -->
  @if (showRecommendationsEnrolled$ | async; as showRecommendations) {
    @if (showRecommendations) {
      <div [@slideInOut]="showRecommendations" [@fadeInOut]="showRecommendations">
        @if (recommendationsLoading$ | async) {
          <ngx-skeleton-loader
            count="1"
            animation="pulse"
            [theme]="{ 'height.px': (isMobile$ | async) ? 200 : 450, width: '100%' }"
          ></ngx-skeleton-loader>
        } @else {
          <kp-banner-v2
            [items]="recommendations$ | async"
            [contentType]="'trail'"
            (bannerAction)="onBannerAction($event)"
          ></kp-banner-v2>
        }
      </div>
    }
  }
  <!--/recommended-->

  <!-- FILTER -->
  <kp-learning-trail-filter
    [quickFilter]="quickFilterSelected$ | async"
    [isContentCreator]="isContentCreator$ | async"
    [languages]="languages()"
    (quickFilterChanged)="onQuickFilter($event)"
    (searchTermChanged)="onSearch($event)"
    (saveFilter)="onSaveFilter($event)"
  ></kp-learning-trail-filter>
  <!-- / FILTER -->

  <!-- content -->
  <div class="max-w-[1328px] mx-auto p-0 xxs:p-6 sm:py-24 sm:pt-10 pb-14">
    <div
      class="learning-trail-list-container grid gap-4 grid-cols-1 min-[870px]:grid-cols-2 min-[1390px]:grid-cols-3 justify-items-center"
    >
      @if (learningTrails$ | async; as list) {
        @if (list?.length) {
          @for (learningTrail of list; track learningTrail.contentId) {
            <kp-learn-content-card
              [learnContent]="learningTrail"
              [actions]="learningTrail.actions"
              orientation="landscape"
              (click)="onLearnContentAction('details', learningTrail)"
              (cardAction)="onLearnContentAction($event, learningTrail)"
            ></kp-learn-content-card>
          }
        } @else {
          @if ((learningTrailsLoading$ | async) === false) {
            <div class="message-box info xxs:mt-8 max-xxs:px-4">
              {{ 'LEARNING_TRAIL.LIST.NO_LEARNING_TRAILS' | transloco }}
            </div>
          }
        }
      }

      @if (learningTrailsLoading$ | async) {
        @for (index of [0, 1, 2, 3, 4, 5]; track index) {
          <ngx-skeleton-loader
            count="1"
            animation="pulse"
            class="px-1"
            [theme]="(isMobile$ | async) ? mobileLoaderTheme : webLoaderTheme"
          ></ngx-skeleton-loader>
        }
      }
    </div>
  </div>
  <!--/content -->
</div>
