@if (isMobile$ | async) {
  <kp-enrollment-list-mobile
    [enrollments]="enrollments$ | async"
    [loading]="isLoading$ | async"
    [statuses]="statuses$ | async"
    (filterEvent)="onFilterChange($event)"
    (searchChange)="onSearchChange($event)"
    (scrolled)="fetchMoreItems()"
    (executeAction)="executeActionMobile($event)"
  ></kp-enrollment-list-mobile>
} @else {
  <div class="grow h-full flex flex-col">
    @if (filteringAllUsers) {
      <div class="h-32 px-6 text-2xl font-semibold flex items-center">
        {{ 'ENROLLMENTS.TRAIL_ADMIN_PAGE_TITLE' | transloco }}
      </div>
      <mat-divider></mat-divider>
    }

    <kp-table-layout
      class="grow"
      [totalItems]="count$ | async"
      [pageIndex]="currentPage$ | async"
      [pageSize]="perPage$ | async"
      (pageChange)="onChangePage($event)"
      (searchChange)="onSearchChange($event)"
    >
      <app-enrollments-filter
        kpTableFilterAfter
        type="LEARNING_TRAIL"
        [filteringAllUsers]="filteringAllUsers"
      ></app-enrollments-filter>

      <div kpTable class="grow h-full flex flex-col" data-test="table-trail-enrollments">
        @if (isLoading$ | async) {
          <div class="w-full h-full grow">
            <ngx-skeleton-loader count="3" animation="pulse" [theme]="itemsLoaderTheme"></ngx-skeleton-loader>
          </div>
        }

        <mat-table
          [hidden]="isLoading$ | async"
          matSort
          [dataSource]="enrollments$ | async"
          (matSortChange)="handleSort($event)"
          matSortActive="start_date"
          matSortDirection="desc"
          matSortStart="desc"
          class="grow"
          aria-label="Learning Trail Enrollments Table"
        >
          <ng-container matColumnDef="icon">
            <mat-header-cell *matHeaderCellDef class="max-w-[64px] pl-8 pr-8"></mat-header-cell>
            <mat-cell *matCellDef="let element" class="max-w-[64px] pl-8 pr-8">
              <mat-icon svgIcon="learning-trail"></mat-icon>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="name" [sticky]="true">
            <mat-header-cell
              *matHeaderCellDef
              mat-sort-header="learning_trail__name"
              class="min-w-52 fixed-column-right-border"
            >
              {{ 'GENERAL.NAME' | transloco }}
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="min-w-52 fixed-column-right-border">
              <div class="w-full flex font-bold">
                <div [matTooltip]="element.learning_trail?.name" class="break-words line-clamp-3 w-full">
                  {{ element.learning_trail?.name || '-' }}
                </div>
              </div>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="user">
            <mat-header-cell
              *matHeaderCellDef
              mat-sort-header="user__name"
              [ngClass]="{ hidden: !filteringAllUsers, 'md:flex': filteringAllUsers }"
            >
              {{ 'GENERAL.USER' | transloco }}
            </mat-header-cell>
            <mat-cell
              *matCellDef="let element"
              [ngClass]="{ hidden: !filteringAllUsers, 'md:flex': filteringAllUsers }"
            >
              <div [matTooltip]="element.user?.name" class="break-words line-clamp-3 w-full font-bold">
                {{ element.user?.name }}
              </div>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="startDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header="start_date" class="max-w-[100px] min-w-[100px]">
              {{ 'ENROLLMENTS.COLUMN.START_DATE' | transloco }}
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="max-w-[100px] min-w-[100px]">
              <span>{{ (element.startDate | date: 'shortDate') || '-' }}</span>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="endDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header="end_date" class="max-w-[100px] min-w-[100px]">
              {{ 'ENROLLMENTS.COLUMN.END_DATE' | transloco }}
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="max-w-[100px] min-w-[100px]">
              <span>{{ (element.endDate | date: 'shortDate') || '-' }}</span>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="goal">
            <mat-header-cell *matHeaderCellDef mat-sort-header="goal_date" class="max-w-[100px] min-w-[100px]">{{
              'GENERAL.GOAL' | transloco
            }}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="max-w-[100px] min-w-[100px]">
              <span>{{ (element.goal_date | date: 'shortDate') || '-' }}</span>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="performance">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="max-w-[70px] min-w-[70px]">{{
              'ENROLLMENTS.COLUMN.PERFORMANCE' | transloco
            }}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="max-w-[70px] min-w-[70px]">{{
              element.performance | kpPerformance: '%'
            }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="overdue">
            <mat-header-cell class="max-w-[140px] min-w-[140px]" *matHeaderCellDef>{{
              'ENROLLMENTS.COLUMN.OVERDUE' | transloco
            }}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="max-w-[140px] min-w-[140px]">
              {{
                element.overdueDays
                  ? ('ENROLLMENTS.OVERDUE_BY' | kpPluralizeTranslate: { value: element.overdueDays })
                  : '-'
              }}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="required">
            <mat-header-cell *matHeaderCellDef class="max-w-[110px] min-w-[110px]">{{
              'ENROLLMENTS.COLUMN.REQUIRED' | transloco
            }}</mat-header-cell>
            <mat-cell *matCellDef="let element" class="min-w-fit" class="max-w-[110px] min-w-[110px]">
              @if (element?.required) {
                <kp-card-tag type="modifier-required" [keepOpen]="true"></kp-card-tag>
              } @else {
                <span>-</span>
              }
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header class="max-w-[140px] min-w-[140px]">{{
              'GENERAL.STATUS' | transloco
            }}</mat-header-cell>
            <mat-cell data-test="enrollment-status" *matCellDef="let element" class="max-w-[140px] min-w-[140px]">
              <kp-card-tag [type]="element.status | uppercase | kpEnrollmentTagType" [keepOpen]="true"></kp-card-tag>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="menu">
            <mat-header-cell *matHeaderCellDef class="flex justify-center min-w-28 max-w-28 pr-8">
              {{ 'GENERAL.MENU' | transloco }}
            </mat-header-cell>
            <mat-cell *matCellDef="let element" class="flex justify-center min-w-28 max-w-28 pr-8">
              <button
                [disabled]="element.status !== 'COMPLETED'"
                mat-icon-button
                color="primary"
                [matTooltip]="'ENROLLMENT.TABLE.ACTION.GENERATE_CERTIFICATE' | transloco"
                (click)="onGenerateCertificate(element.id)"
              >
                <mat-icon>save_alt</mat-icon>
              </button>
              <button
                mat-icon-button
                data-cy="collection-item-menu"
                [matMenuTriggerFor]="menu"
                #menuTrigger="matMenuTrigger"
                [matTooltip]="'GENERAL.MENU' | transloco"
                aria-label="Menu"
              >
                <mat-icon class="s-4">more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                @for (action of element.actions; track action) {
                  <button
                    [disabled]="
                      !(element.learning_trail?.count_missions + element.learning_trail?.count_pulses) &&
                      action === 'viewActivities'
                    "
                    mat-menu-item
                    (click)="executeAction(action, element)"
                  >
                    <span>
                      {{
                        !(element.learning_trail?.count_missions + element.learning_trail?.count_pulses) &&
                        action === 'viewActivities'
                          ? ('ENROLLMENTS.NO_ACTIVITIES' | transloco)
                          : ('ENROLLMENTS.' + action | transloco)
                      }}
                    </span>
                  </button>
                }
              </mat-menu>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns" (click)="$event.stopPropagation()"></mat-row>
        </mat-table>

        @let isLoading = isLoading$ | async;
        @let enrollments = enrollments$ | async;

        @if (!isLoading && !enrollments?.length) {
          <div class="flex h-full grow items-center justify-center text-sm">
            {{ 'ENROLLMENTS.TABLE.EMPTY' | transloco }}
          </div>
        }
      </div>
    </kp-table-layout>
  </div>
}

<ng-template #confirmationTemplate let-confirmationText>
  <p class="mt-0" [innerHTML]="confirmationText"></p>
</ng-template>

<ng-template #goalDateTemplate let-confirmationText>
  <p class="mt-0" [innerHTML]="confirmationText"></p>
  <mat-form-field data-test="input-goal-date" class="flex-auto mt-6" color="primary" appearance="outline">
    <mat-label>{{ 'GENERAL.GOAL_DATE' | transloco }}</mat-label>
    <input
      [(ngModel)]="goalDate"
      [min]="minDate"
      (ngModelChange)="disableSaveButton()"
      matInput
      required
      [matDatepicker]="picker"
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</ng-template>

<ng-template #performanceTemplate let-confirmationText>
  <p class="mt-0" [innerHTML]="confirmationText"></p>
  <div class="flex w-full mt-6 items-center">
    <div class="w-full">
      <form [formGroup]="performanceForm">
        <mat-form-field appearance="outline" class="w-full" subscriptSizing="dynamic">
          <mat-label>{{ 'MISSION.CREATE.SETTINGS.MIN_PERFORMANCE_LABEL' | transloco }}</mat-label>
          <input
            data-test="input-mission-minimal-performance"
            matInput
            formControlName="performance"
            mask="percent"
            suffix="%"
            placeholder="0%"
          />
        </mat-form-field>
      </form>
    </div>
  </div>
</ng-template>
