@if (selection()?.hasValue() && !vm()?.usersLoading) {
  <kp-batch-action-selection
    [actions]="batchActions()"
    (dispatch)="onDispatchBatchAction($event)"
    (clear)="clearSelection()"
  ></kp-batch-action-selection>
}
@if (vm()?.usersLoading) {
  <ngx-skeleton-loader count="3" animation="pulse" [theme]="itemsLoaderTheme"></ngx-skeleton-loader>
} @else {
  <mat-table [dataSource]="vm()?.users" class="missions-table kp-card-table">
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef class="min-w-[70px] max-w-[70px] -ml-1">
        <mat-checkbox
          (change)="$event ? toggleAllRows(vm()?.users) : null"
          [checked]="selection()?.hasValue() && isAllSelected(vm()?.users)"
          [indeterminate]="selection()?.hasValue() && !isAllSelected(vm()?.users)"
        >
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let element" class="min-w-[70px] max-w-[70px] -ml-1">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="toggleOneRow(element)"
          [checked]="selection()?.isSelected(element)"
        >
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="icon">
      <mat-header-cell *matHeaderCellDef class="max-w-20 min-w-20"></mat-header-cell>
      <mat-cell *matCellDef="let element" class="max-w-20 min-w-20">
        <div
          [style.background]="'url(' + (element?.enrollment?.user?.avatar || defaultUserAvatar) + ')'"
          class="h-11 w-11 min-w-content bg-cover bg-center rounded-full mr-3 shrink-0"
        ></div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef class="min-w-36">{{ 'GENERAL.NAME' | transloco }}</mat-header-cell>
      <mat-cell *matCellDef="let element" class="min-w-36">
        <span class="[word-break:break-word] line-clamp-3">{{ element?.enrollment?.user?.name }}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef class="min-w-36">{{
        'EVENT_MANAGEMENT.LIST.EMAIL' | transloco
      }}</mat-header-cell>
      <mat-cell *matCellDef="let element" class="min-w-36">
        <span class="[word-break:break-word] line-clamp-3">{{ element?.enrollment?.user?.email || '-' }}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef class="min-w-36 max-w-36">{{
        'EVENT_MANAGEMENT.LIST.PHONE' | transloco
      }}</mat-header-cell>
      <mat-cell *matCellDef="let element" class="min-w-36 max-w-36">
        <span class="[word-break:break-word] line-clamp-3">{{
          (element?.enrollment?.user?.phone | kpPhone) || '-'
        }}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="note">
      <mat-header-cell *matHeaderCellDef class="min-w-36">
        {{ 'EVENT_MANAGEMENT.LIST.NOTE' | transloco }}
      </mat-header-cell>
      <mat-cell *matCellDef="let element" class="min-w-36">
        @if (element?.observation) {
          <span class="[word-break:break-word] line-clamp-3">{{ element?.observation }}</span>
        } @else {
          <span class="opacity-30">{{ 'EVENT_MANAGEMENT.LIST.NOTE_PLACEHOLDER' | transloco }}</span>
        }
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="presence">
      <mat-header-cell *matHeaderCellDef class="max-w-20 min-w-20">
        {{ 'EVENT_MANAGEMENT.PRESENCE.LABEL' | transloco }}
      </mat-header-cell>
      <mat-cell *matCellDef="let element" class="max-w-20 min-w-20">
        <mat-slide-toggle
          [checked]="element?.presented"
          (change)="onTogglePresence($event, element.id)"
        ></mat-slide-toggle>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef class="flex justify-center min-w-24 max-w-24">
        {{ 'EVENT_MANAGEMENT.LIST.ACTIONS' | transloco }}
      </mat-header-cell>
      <mat-cell *matCellDef="let element" class="flex justify-center min-w-24 max-w-24">
        <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger">
          <mat-icon class="s-6">more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onAddNote(element)">
            <mat-icon>chat</mat-icon>
            <span>{{ 'EVENT_MANAGEMENT.ACTION.ADD_NOTE' | transloco }}</span>
          </button>
          @if (!isFinished()) {
            <button mat-menu-item (click)="onSendInvite(element)">
              <mat-icon>mail</mat-icon>
              <span>{{ 'EVENT_MANAGEMENT.ACTION.SEND_INVITE' | transloco }}</span>
            </button>
          }
          <button mat-menu-item (click)="onRemoveUser(element)">
            <mat-icon>person_remove</mat-icon>
            <span>{{ 'EVENT_MANAGEMENT.ACTION.REMOVE_USER' | transloco }}</span>
          </button>
        </mat-menu>
      </mat-cell>
    </ng-container>

    <div *matNoDataRow class="flex h-full items-center justify-center text-sm">
      {{ 'EVENT_MANAGEMENT.LIST.EMPTY_LIST_MESSAGE' | transloco }}
    </div>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns" (click)="$event.stopPropagation()"></mat-row>
  </mat-table>
}
