<div class="course-form-header">
  <div>
    <span class="course-form-header__kicker">Course builder</span>
    <h1 class="course-form-header__title">
      {{ 'COURSE.FORM.TITLE.' + (!!course.id ? 'EDIT' : 'NEW') | transloco }}
    </h1>
    <p class="course-form-header__subtitle">
      {{ 'COURSE.FORM.SUBTITLE' | transloco }}
    </p>
  </div>

  <div class="course-form-header__status">
    <span class="course-form-header__status-label">
      {{ (!!course.id ? 'GENERAL.EDIT' : 'COURSES.CREATE') | transloco }}
    </span>
    <strong class="course-form-header__status-value">
      {{ course.name || ('COURSE.FORM.TABS.INFORMATION' | transloco) }}
    </strong>
  </div>
</div>
