<div class="h-full w-80 flex flex-col">
  <!-- HEADER -->
  <div class="h-32 pl-8 pr-6 flex items-center">
    <div class="flex flex-col gap-1">
      <span class="mb-2">{{ 'COURSE_SIDE_MENU.TITLE' | transloco }}</span>
      <span class="text-xs">{{ 'COURSE_SIDE_MENU.SUBTITLE' | transloco }}</span>
    </div>
    <button mat-icon-button class="ml-auto" (click)="closeMenu.emit()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <!-- / HEADER -->

  <mat-divider></mat-divider>

  <!-- CARDS -->
  <div class="flex-1 pt-6 px-6 flex flex-col gap-3 overflow-y-auto">
    <div class="min-h-14 pl-6 py-3 w-full rounded-md border border-default flex items-center gap-3">
      <mat-icon svgIcon="learning-trail" class="s-6 text-primary shrink-0"></mat-icon>
      <div class="flex flex-col leading-tight">
        <span class="font-medium">{{ summary()?.total || 0 }}</span>
        <span class="text-xs opacity-60">{{ 'COURSE_SIDE_MENU.TOTAL' | transloco }}</span>
      </div>
    </div>

    @if (summary()?.finished) {
      <div class="min-h-14 pl-6 py-3 w-full rounded-md border border-default flex items-center gap-3">
        <span class="w-3 h-3 rounded-full shrink-0" [style.background-color]="'#01d89b'"></span>
        <div class="flex flex-col leading-tight">
          <span class="font-medium">{{ summary()?.finished }}</span>
          <span class="text-xs opacity-60">{{ 'COURSE_SIDE_MENU.FINISHED' | transloco }}</span>
        </div>
      </div>
    }

    @if (summary()?.creating) {
      <div class="min-h-14 pl-6 py-3 w-full rounded-md border border-default flex items-center gap-3">
        <span class="w-3 h-3 rounded-full shrink-0" [style.background-color]="'#ff7152'"></span>
        <div class="flex flex-col leading-tight">
          <span class="font-medium">{{ summary()?.creating }}</span>
          <span class="text-xs opacity-60">{{ 'COURSE_SIDE_MENU.CREATING' | transloco }}</span>
        </div>
      </div>
    }

    @if (summary()?.reviewing) {
      <div class="min-h-14 pl-6 py-3 w-full rounded-md border border-default flex items-center gap-3">
        <span class="w-3 h-3 rounded-full shrink-0" [style.background-color]="'#ff9706'"></span>
        <div class="flex flex-col leading-tight">
          <span class="font-medium">{{ summary()?.reviewing }}</span>
          <span class="text-xs opacity-60">{{ 'COURSE_SIDE_MENU.REVIEWING' | transloco }}</span>
        </div>
      </div>
    }

    @if (summary()?.inactive) {
      <div class="min-h-14 pl-6 py-3 w-full rounded-md border border-default flex items-center gap-3">
        <span class="w-3 h-3 rounded-full shrink-0" [style.background-color]="'#b5b5b5'"></span>
        <div class="flex flex-col leading-tight">
          <span class="font-medium">{{ summary()?.inactive }}</span>
          <span class="text-xs opacity-60">{{ 'COURSE_SIDE_MENU.INACTIVE' | transloco }}</span>
        </div>
      </div>
    }
  </div>
  <!-- / CARDS -->
</div>
