<div class="dialog-content-wrapper">
  <div mat-dialog-title class="flex items-center justify-between mat-background">
    <span class="title dialog-title text-lg">{{ dialogTitle | transloco }}</span>
    <button mat-icon-button (click)="dialogRef.close()" [attr.aria-label]="'GENERAL.CLOSE' | transloco">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>

  <div mat-dialog-content class="mat-background">
    <form [formGroup]="questionForm">
      <mat-form-field class="w-full mb-4" appearance="outline" subscriptSizing="dynamic">
        <mat-label>{{ 'COURSE.FORM.QUIZ.QUESTION.DIALOG.FIELD_LABEL_QUESTION' | transloco }}</mat-label>
        <input data-test="quiz-question-input" formControlName="title" matInput />
      </mat-form-field>

      <ng-container formArrayName="options">
        @for (option of options.controls; track option; let i = $index) {
          <div class="flex items-center mb-4">
            <ng-container [formGroupName]="i">
              <mat-checkbox
                [attr.data-test]="'check-quiz-correct-option-' + i"
                formControlName="correct_answer"
                class="mr-4"
                color="accent"
                (change)="onSelectAnswer()"
              >
              </mat-checkbox>
              <mat-form-field class="w-full" appearance="outline" subscriptSizing="dynamic">
                <mat-label>
                  {{ 'COURSE.FORM.QUIZ.QUESTION.DIALOG.FIELD_LABEL_OPTION' | transloco: { value: i + 1 } }}
                </mat-label>
                <input [attr.data-test]="'quiz-option-input-' + i" formControlName="option" matInput />
                <button
                  mat-icon-button
                  matSuffix
                  type="button"
                  [attr.aria-labzel]="'GENERAL.DELETE' | transloco"
                  (click)="deleteOption(i)"
                  [disabled]="isDeleteOptionDisabled"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-form-field>
            </ng-container>
          </div>
        }
      </ng-container>
    </form>
  </div>

  <div mat-dialog-actions class="py-6 border-t border-default flex justify-end items-center mat-background">
    @if (!isAnswerSelected) {
      <div class="flex items-center gap-2 mr-6 opacity-70">
        <mat-icon class="s-6">warning</mat-icon>
        <small>{{ 'COURSE.FORM.QUIZ.QUESTION.DIALOG.MESSAGE_WARNING' | transloco }}</small>
      </div>
    }

    @if (isNew) {
      <button
        data-test="add-new-quiz-option"
        type="button"
        [attr.aria-label]="'COURSE.FORM.QUIZ.QUESTION.DIALOG.BUTTON_ADD_OPTION' | transloco"
        [disabled]="isAddOptionDisabled"
        (click)="addOption()"
        mat-stroked-button
      >
        {{ 'COURSE.FORM.QUIZ.QUESTION.DIALOG.BUTTON_ADD_OPTION' | transloco }}
      </button>
    }

    <button
      data-test="button-save"
      (click)="onSave()"
      [attr.aria-label]="'GENERAL.SAVE' | transloco"
      mat-flat-button
      color="primary"
      [disabled]="isInvalidForm"
    >
      {{ 'GENERAL.SAVE' | transloco }}
    </button>
  </div>
</div>
