<div mat-dialog-actions class="p-6 flex gap-3 justify-end">
  @if (showTemporaryPasswordToggle) {
    <mat-slide-toggle
      #temporaryPasswordToggle
      class="mr-auto"
      [matTooltip]="'USERS.IMPORT.TEMPORARY_PASSWORD_TOOLTIP' | transloco"
      >{{ 'USERS.IMPORT.TEMPORARY_PASSWORD' | transloco }}
    </mat-slide-toggle>
  }
  @if (viewMode === 'selectFile') {
    <a
      [href]="EXAMPLE_IMPORT_FILE_URL"
      target="_blank"
      class="text-sm text-primary dark:text-white mr-auto hover:underline focus:underline"
      >{{ 'USERS.IMPORT.BUTTON_DOWNLOAD_MODEL' | transloco }}</a
    >
  }

  <button mat-dialog-close mat-button>
    <span class="text-primary dark:text-white">
      {{ 'GENERAL.CANCEL' | transloco }}
    </span>
  </button>
  <button
    data-test="button-save-changes"
    mat-raised-button
    color="primary"
    (click)="positiveButtonClick()"
    [disabled]="positiveButtonDisabled"
  >
    {{ buttonLabel | transloco }}
  </button>
</div>
