<div class="page-layout blank px-6 pt-6">
  <mat-card class="h-20 w-full mb-4 flex-row items-center justify-between" appearance="outlined">
    <span class="text-2xl text-left md:text-left">{{ 'USERS.OVERVIEW.TITLE' | transloco }}</span>
    <kp-analytics-chart-filter (filter)="onFilterChart($event)"></kp-analytics-chart-filter>
  </mat-card>

  <section class="mb-4 flex flex-col md:flex-row gap-4">
    <!-- Total Users -->
    <mat-card
      appearance="outlined"
      class="p-4 bg-primary text-on-primary w-full md:w-1/5 flex flex-col justify-between items-center"
    >
      @if (totalUsers$ | async; as data) {
        @if (data.isLoading) {
          <kp-loading-progress-shade></kp-loading-progress-shade>
        }
        <span class="text-3xl text-center" [innerHTML]="'USERS.OVERVIEW.WIDGETS.USERS_TOTAL.TITLE' | transloco"></span>
        <div class="flex flex-col items-center">
          <span class="text-[100px] font-bold">{{ data?.response || 0 }}</span>
          <span class="text-xl" [innerHTML]="'USERS.OVERVIEW.WIDGETS.USERS_TOTAL.TEXT' | transloco"></span>
        </div>
      }
    </mat-card>
    <!-- / Total Users -->

    <!-- Total Active Users -->
    <mat-card
      appearance="outlined"
      class="p-4 bg-primary text-on-primary w-full md:w-1/5 flex flex-col justify-between items-center"
    >
      @if (activeUsers$ | async; as data) {
        @if (data.isLoading) {
          <kp-loading-progress-shade></kp-loading-progress-shade>
        }
        <span
          class="text-3xl text-center"
          [innerHTML]="'USERS.OVERVIEW.WIDGETS.USERS_ACTIVE_TOTAL.TITLE' | transloco"
        ></span>
        <div class="flex flex-col items-center">
          <span class="text-[100px] font-bold">{{ data?.response || 0 }}</span>
          <span class="text-xl" [innerHTML]="'USERS.OVERVIEW.WIDGETS.USERS_ACTIVE_TOTAL.TEXT' | transloco"></span>
        </div>
      }
    </mat-card>
    <!-- / Total Active Users -->

    <!-- Enrollment Chart -->
    <mat-card appearance="outlined" class="p-4 w-full md:w-3/5 flex flex-col justify-center items-center">
      @if (enrollmentsDistribution$ | async; as chartData) {
        @if (chartData.isLoading) {
          <kp-loading-progress-shade></kp-loading-progress-shade>
        }
        <app-dual-columns-chart
          [data]="chartData.response"
          [header]="'USERS.OVERVIEW.CHART.TITLE' | transloco"
          [categoryLabel]="'GENERAL.ENROLLMENTS' | transloco"
          [series1Label]="'USERS.OVERVIEW.CHART.USERS_ENROLLED' | transloco"
          [series2Label]="'USERS.OVERVIEW.CHART.USERS_COMPLETED' | transloco"
          categoryField="label"
          series1Field="total"
          series2Field="completed"
        ></app-dual-columns-chart>
      }
    </mat-card>

    <!-- / Enrollment Chart -->
  </section>

  <section class="mb-4 flex flex-col sm:flex-row gap-4">
    <!-- Engagement Rate -->
    <mat-card appearance="outlined" class="p-4 flex flex-1 items-center justify-center gap-2">
      @if (engagementRate$ | async; as data) {
        @if (data.isLoading) {
          <kp-loading-progress-shade></kp-loading-progress-shade>
        }
        <div class="flex flex-col md:flex-row items-center justify-center gap-y-2">
          <div>
            <h2 class="text-xl">{{ 'USERS.OVERVIEW.WIDGETS.ENGAGEMENT_RATE.TITLE' | transloco }}</h2>
            <div>{{ 'USERS.OVERVIEW.WIDGETS.ENGAGEMENT_RATE.TEXT' | transloco }}</div>
          </div>
          <kp-progress-circle [value]="data.response ? data.response * 100 : 0"></kp-progress-circle>
        </div>
        <div class="flex items-center gap-2 self-start">
          <mat-icon class="s-2 filled text-primary">warning</mat-icon>
          <span class="text-sm">{{ 'USERS.OVERVIEW.WIDGETS.FILTER_NOT_APPLIED' | transloco }}</span>
        </div>
      }
    </mat-card>
    <!-- / Engagement Rate -->

    <!-- Knowledge Consumed -->
    <mat-card appearance="outlined" class="p-4 flex-1">
      @if (contentConsumedAveragePerUser$ | async; as data) {
        @if (data.isLoading) {
          <kp-loading-progress-shade></kp-loading-progress-shade>
        }
        <h2 class="text-xl">{{ 'USERS.OVERVIEW.WIDGETS.KNOWLEDGE_CONSUMED.TITLE' | transloco }}</h2>
        <span class="text-4xl mb-2 font-bold">
          {{ data.response || 0 | kpNumberToTime }}
        </span>
        <div>{{ 'USERS.OVERVIEW.WIDGETS.KNOWLEDGE_CONSUMED.TEXT' | transloco }}</div>
      }
    </mat-card>
    <!-- / Knowledge Consumed -->

    <!-- Users Creators -->
    <mat-card appearance="outlined" class="p-4 flex-1">
      @if (usersCreators$ | async; as data) {
        @if (data.isLoading) {
          <kp-loading-progress-shade></kp-loading-progress-shade>
        }
        <h2 class="text-xl">{{ 'USERS.OVERVIEW.WIDGETS.USERS_CREATORS.TITLE' | transloco }}</h2>
        <span class="text-4xl mb-2 font-bold">{{ data.response | number: '1.0' }}</span>
        <div>{{ 'USERS.OVERVIEW.WIDGETS.USERS_CREATORS.TEXT' | transloco }}</div>
      }
    </mat-card>
    <!-- / Users Creators -->

    <!-- Active Users per Day -->
    <mat-card appearance="outlined" class="p-4 w-full flex-1 md:w-1/5">
      @if (activeUsersAveragePerDay$ | async; as data) {
        @if (data.isLoading) {
          <kp-loading-progress-shade></kp-loading-progress-shade>
        }
        <h2 class="text-xl">{{ 'USERS.OVERVIEW.WIDGETS.AVERAGE_ACTIVE_USERS.TITLE' | transloco }}</h2>
        <span class="text-4xl mb-2 font-bold">{{ data.response | number: '1.1-1' }}</span>
        <div>{{ 'USERS.OVERVIEW.WIDGETS.AVERAGE_ACTIVE_USERS.TEXT' | transloco }}</div>
      }
    </mat-card>
    <!-- / Active Users per Day -->
  </section>

  <section class="mb-4 flex flex-col sm:flex-row gap-4">
    <!-- Top Enrollment Categories -->
    <mat-card appearance="outlined" class="flex-1 p-4">
      @if (topEnrollmentCategories$ | async; as data) {
        @if (data.isLoading) {
          <kp-loading-progress-shade></kp-loading-progress-shade>
        }
        <h2 class="text-xl">{{ 'USERS.OVERVIEW.WIDGETS.TOP_ENROLLMENT_CATEGORIES.TITLE' | transloco }}</h2>
        <kp-top-five-chart [data]="data.response"></kp-top-five-chart>
      }
    </mat-card>
    <!-- / Top Enrollment Categories -->

    <!-- Top Content Consumed -->
    <mat-card appearance="outlined" class="flex-1 p-4">
      @if (topContentConsumed$ | async; as data) {
        @if (data.isLoading) {
          <kp-loading-progress-shade></kp-loading-progress-shade>
        }
        <h2 class="text-xl">{{ 'USERS.OVERVIEW.WIDGETS.TOP_CONTENT_CONSUMED.TITLE' | transloco }}</h2>
        <kp-analytics-donut-chart [data]="data.response"></kp-analytics-donut-chart>
      }
    </mat-card>
    <!-- / Top Content Consumed -->
  </section>
</div>

<h2 class="text-2xl font-semibold text-center sm:text-left mx-6 mb-4 mt-6">
  {{ 'USERS.OVERVIEW.DATATABLE.TITLE' | transloco }}
</h2>

<ng-container *kpVar="usersList$ | async as list">
  <kp-table-layout
    [totalItems]="list?.response?.total || 0"
    [pageIndex]="pageIndex"
    [pageSize]="pageSize"
    (pageChange)="onPaging($event)"
    (searchChange)="applyFilter($event)"
  >
    <div kpTableFilterAfter class="flex items-center gap-2">
      <button mat-icon-button (click)="openFilters()">
        <mat-icon>filter_list</mat-icon>
      </button>
      <kp-export-menu (export)="exportTable($event)"></kp-export-menu>
    </div>

    <div kpTable class="table-container">
      @if (list?.isLoading) {
        <div class="grow">
          <ngx-skeleton-loader count="3" animation="pulse" [theme]="itemsLoaderTheme"></ngx-skeleton-loader>
        </div>
      }

      @if (!list?.isLoading && !list?.response?.total) {
        <div class="grow flex items-center justify-center text-sm">
          {{ 'GENERAL.EMPTY_LIST_MESSAGE' | transloco }}
        </div>
      }

      <table
        mat-table
        class="kp-card-table w-full"
        aria-label="User Overview Table"
        [hidden]="list?.isLoading || !list?.response?.total"
        [dataSource]="list?.response?.data"
        matSort
        matSortActive="name.sortable"
        matSortDirection="asc"
        id="usersOverviewTable"
        (matSortChange)="onDatatableSortChanged()"
      >
        <!-- Column Name -->
        <ng-container matColumnDef="name.sortable">
          <th mat-header-cell *matHeaderCellDef mat-sort-header start="asc" class="pl-4">
            {{ 'USERS.OVERVIEW.DATATABLE.COLUMN.NAME' | transloco }}
          </th>
          <td mat-cell *matCellDef="let row" class="pl-4">
            <div class="break-words line-clamp-3" [matTooltip]="row._source.name | titlecase">
              {{ row._source.name | titlecase }}
            </div>
          </td>
        </ng-container>
        <!-- Column Leader -->
        <ng-container matColumnDef="leader_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header start="asc">
            {{ 'USERS.OVERVIEW.DATATABLE.COLUMN.LEADER' | transloco }}
          </th>
          <td mat-cell *matCellDef="let row">
            <div class="break-words line-clamp-3" [matTooltip]="row._source.leader_name | titlecase">
              {{ row._source.leader_name | titlecase }}
            </div>
          </td>
        </ng-container>
        <!-- Column Job -->
        <ng-container matColumnDef="stats.profile.job_name">
          <th mat-header-cell *matHeaderCellDef>
            {{ 'USERS.OVERVIEW.DATATABLE.COLUMN.JOB' | transloco }}
          </th>
          <td mat-cell *matCellDef="let row">
            <div class="break-words line-clamp-3" [matTooltip]="row.stats?.profile.job_name | titlecase">
              {{ row.stats?.profile.job_name | titlecase }}
            </div>
          </td>
        </ng-container>
        <!-- Column Director -->
        <ng-container matColumnDef="stats.profile.director">
          <th mat-header-cell *matHeaderCellDef>
            {{ 'USERS.OVERVIEW.DATATABLE.COLUMN.DIRECTOR' | transloco }}
          </th>
          <td mat-cell *matCellDef="let row">
            <div class="break-words line-clamp-3" [matTooltip]="row.stats?.profile.director | titlecase">
              {{ row.stats?.profile.director | titlecase }}
            </div>
          </td>
        </ng-container>
        <!-- Column Manager -->
        <ng-container matColumnDef="stats.profile.manager">
          <th mat-header-cell *matHeaderCellDef>
            {{ 'USERS.OVERVIEW.DATATABLE.COLUMN.MANAGER' | transloco }}
          </th>
          <td mat-cell *matCellDef="let row">
            <div class="break-words line-clamp-3" [matTooltip]="row.stats?.profile.manager | titlecase">
              {{ row.stats?.profile.manager | titlecase }}
            </div>
          </td>
        </ng-container>
        <!-- Column Area -->
        <ng-container matColumnDef="stats.profile.area_of_activity">
          <th mat-header-cell *matHeaderCellDef>
            {{ 'USERS.OVERVIEW.DATATABLE.COLUMN.AREA' | transloco }}
          </th>
          <td mat-cell *matCellDef="let row">
            <div class="break-words line-clamp-3" [matTooltip]="row.stats?.profile.area_of_activity | titlecase">
              {{ row.stats?.profile.area_of_activity | titlecase }}
            </div>
          </td>
        </ng-container>
        <!-- Column Courses Started -->
        <ng-container matColumnDef="stats.courses.total">
          <th class="max-w-[130px] hidden sm:flex" mat-header-cell *matHeaderCellDef>
            {{ 'USERS.OVERVIEW.DATATABLE.COLUMN.COURSES_STARTED' | transloco }}
          </th>
          <td mat-cell class="max-w-[130px] hidden sm:flex" *matCellDef="let row">
            {{ row.stats?.enrollments.total | number: '1.0-0' }}
          </td>
        </ng-container>
        <!-- Column Courses Completed -->
        <ng-container matColumnDef="stats.courses.completed">
          <th class="max-w-[140px] hidden sm:flex" mat-header-cell *matHeaderCellDef>
            {{ 'USERS.OVERVIEW.DATATABLE.COLUMN.COURSES_COMPLETED' | transloco }}
          </th>
          <td class="max-w-[140px] hidden sm:flex" mat-cell *matCellDef="let row">
            {{ row.stats?.enrollments.completed | number: '1.0-0' }}
          </td>
        </ng-container>
        <!-- Column Completed Ratio -->
        <ng-container matColumnDef="completion_rate">
          <th class="max-w-[150px] hidden sm:flex" mat-header-cell *matHeaderCellDef mat-sort-header>
            {{ 'USERS.OVERVIEW.DATATABLE.COLUMN.COMPLETED_RATIO' | transloco }}
          </th>
          <td class="max-w-[150px] hidden sm:flex pr-4" mat-cell *matCellDef="let row">
            {{ row.stats?.enrollments.completed_ratio | percent }}
          </td>
        </ng-container>
        <!-- Buttons -->
        <ng-container matColumnDef="buttons">
          <th mat-header-cell *matHeaderCellDef class="max-w-[70px] justify-center pr-4">
            {{ 'GENERAL.MENU' | transloco }}
          </th>
          <td mat-cell *matCellDef="let row" class="max-w-[70px] justify-center pr-4">
            <button mat-icon-button routerLink="/user/{{ row._id }}">
              <mat-icon class="s-4">open_in_new</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="listDisplayedColumns" class="font-bold"></tr>
        <tr mat-row *matRowDef="let row; columns: listDisplayedColumns"></tr>
      </table>
    </div>
  </kp-table-layout>
</ng-container>
